.evenbg.main-plans
  .container
    .container.container-plans{"data-plan" => "yearly"}
      .inner-container.flex-container
        #starter.column
          %header.bg-blue
            %span.plan-name Cơ bản
            %span.plan-price
              %span.price> 125.000
              \/tháng
          %section
            %ul.feature-list
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("records.svg")}/
                %span.item-title 1.000
                %span.item-subtitle Bản ghi
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("operations.svg")}/
                %span.item-title 5
                %span.item-subtitle loại biểu đồ thống kê cơ bản
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("support.svg")}/
                %span.item-title.small-title Hỗ trợ qua email
            %a.btn.btn-info{:href => "/signup"} Bắt đầu dùng thử miễn phí
        #growth.column
          %header.bg-green
            %span.plan-name Nâng cao
            %span.plan-price
              %span.price> 199.000
              \/tháng
          %section
            %ul.feature-list
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("records.svg")}/
                %span.item-title 10.000
                %span.item-subtitle Bản ghi
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("operations.svg")}/
                %span.item-title 10
                %span.item-subtitle loại biểu đồ thống kê và báo cáo
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("support.svg")}/
                %span.item-title.small-title Hỗ trợ qua Email
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("ux-guidance.svg")}/
                %span.item-title.small-title Hỗ trợ điện thoại
            %a.btn.btn-info{:href => "/signup"} Bắt đầu dùng thử miễn phí
        #pro.column
          %header.bg-deep-blue
            %span.plan-name Chuyên nghiệp
            %span.plan-price
              %span.price> 299.000
              \/tháng
          %section
            %ul.feature-list
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("records.svg")}/
                %span.item-title 50.000
                %span.item-subtitle Bản ghi
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("operations.svg")}/
                %span.item-title Toàn bộ
                %span.item-subtitle các biểu đồ và báo cáo thống kê
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("support.svg")}/
                %span.item-title.small-title Hỗ trợ trực tuyến
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("ux-guidance.svg")}/
                %span.item-title.small-title Hỗ trợ điện thoại
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("support.svg")}/
                %span.item-title.small-title Hỗ trợ phát triển
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("extensions-plugins.svg")}/
                %span.item-title.small-title.multiline Hệ thống mở rộng
            %a.btn.btn-info{:href => "/signup"} Bắt đầu dùng thử miễn phí
        #enterprise.column.column-enterprise
          %header
            %span.plan-name Trung tâm y tế
            %span.plan-price
              %span.price> 999.000
              \/tháng
          %section.text-center.enterprise-illustration.animated
            %svg{:viewbox => "0 0 213 217", :xmlns => "http://www.w3.org/2000/svg"}
              %title enterprise-illu
              %g#Page-1{:fill => "none", "fill-rule" => "evenodd"}
                %g#enterprise-illu
                  %g#Group
                    %path#Star-20{:d => "M124.34 31.384c0 1.733-1.406 3.138-3.142 3.138 1.736 0 3.143 1.405 3.143 3.138 0-1.733 1.408-3.138 3.144-3.138-1.736 0-3.143-1.405-3.143-3.138z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-19{:d => "M87.978 37.66c0 1.734-1.407 3.14-3.143 3.14 1.736 0 3.143 1.404 3.143 3.137 0-1.733 1.407-3.138 3.143-3.138-1.735 0-3.142-1.406-3.142-3.14z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-18{:d => "M81.692 181.58c0 1.734-1.407 3.14-3.143 3.14 1.735 0 3.142 1.404 3.142 3.137 0-1.733 1.407-3.138 3.143-3.138-1.736 0-3.143-1.406-3.143-3.14z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-17{:d => "M130.627 173.96c0 1.732-1.407 3.137-3.143 3.137 1.736 0 3.143 1.405 3.143 3.138 0-1.733 1.407-3.138 3.143-3.138-1.736 0-3.143-1.405-3.143-3.138z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-16{:d => "M152.624 15.692c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-15{:d => "M101.792 20.002c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-14{:d => "M129.73 0c0 .99-.805 1.793-1.797 1.793.992 0 1.796.803 1.796 1.793 0-.99.803-1.793 1.795-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-13{:d => "M58.348 12.554c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-12{:d => "M16.597 63.665c0 .99-.804 1.793-1.796 1.793.993 0 1.797.803 1.797 1.793 0-.99.804-1.792 1.796-1.792-.992 0-1.796-.803-1.796-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-11{:d => "M196.17 81.6c0 .99-.803 1.792-1.795 1.792.992 0 1.796.803 1.796 1.793 0-.99.805-1.793 1.797-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-10{:d => "M205.15 50.215c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.792 1.796-1.792-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-9{:d => "M191.233 148.403c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.794 1.796-1.794-.993 0-1.797-.803-1.797-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-8{:d => "M195.722 166.337c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-7{:d => "M136.463 211.17c0 .99-.804 1.794-1.796 1.794.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.993 0-1.797-.803-1.797-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-6{:d => "M103.69 190.996c0 .99-.804 1.793-1.796 1.793.992 0 1.796.802 1.796 1.792 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.804-1.796-1.794z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-5{:d => "M84.835 213.413c0 .99-.804 1.793-1.796 1.793.99 0 1.795.803 1.795 1.793 0-.99.804-1.794 1.796-1.794-.99 0-1.795-.803-1.795-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-4{:d => "M57.45 211.17c0 .99-.804 1.794-1.796 1.794.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-3{:d => "M30.963 139.884c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.993 0-1.797-.803-1.797-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-2{:d => "M13.005 132.71c0 .99-.804 1.794-1.796 1.794.99 0 1.795.803 1.795 1.793 0-.99.804-1.793 1.796-1.793-.99 0-1.795-.803-1.795-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-1{:d => "M7.17 152.886c0 .99-.805 1.793-1.797 1.793.992 0 1.796.802 1.796 1.792 0-.99.803-1.793 1.795-1.793-.992 0-1.796-.804-1.796-1.794z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Shape{:d => "M159.923 111.61c0 30.228-24.536 54.732-54.803 54.732-30.267 0-54.803-24.504-54.803-54.73 0-30.228 24.536-54.732 54.803-54.732 30.267 0 54.803 24.504 54.803 54.73", :fill => "#243754"}
                    %path#Shape{:d => "M62.963 111.61c0-23.25 18.874-42.1 42.156-42.1", :stroke => "#314768", "stroke-width" => "4"}
                    %path#Shape{:d => "M128.932 62.303c8.78 9.705 14.128 22.568 14.128 36.677 0 30.227-24.536 54.73-54.803 54.73-8.533 0-16.612-1.948-23.812-5.423 10.03 11.086 24.537 18.054 40.675 18.054 30.267 0 54.803-24.503 54.803-54.73 0-21.705-12.65-40.458-30.99-49.308", :fill => "#1F2C49"}
                    %path#Shape{:d => "M159.923 111.61c0 30.228-24.536 54.732-54.803 54.732-30.267 0-54.803-24.504-54.803-54.73 0-30.228 24.536-54.732 54.803-54.732 30.267 0 54.803 24.504 54.803 54.73z", :stroke => "#43658E", "stroke-width" => "1.6"}
                    %path#Shape{:d => "M48.43 146.884c1.02-1.38 2.068-2.773 3.145-4.18.27-.35.202-.852-.15-1.12-.35-.27-.852-.203-1.12.148-1.084 1.414-2.138 2.815-3.162 4.202-.262.355-.187.856.17 1.12.354.26.855.186 1.118-.17zM91.108 151.146c-30.158 25.96-54.486 39.776-59.945 34.324-.823-.822-1.21-2.127-1.13-3.936.02-.44-.322-.815-.764-.835-.442-.02-.816.32-.836.763-.1 2.22.418 3.96 1.598 5.14 6.47 6.46 31.056-7.505 62.12-34.244.335-.29.373-.794.084-1.13-.288-.334-.793-.372-1.128-.083zM158.445 80.804c-8.94 11.643-20.027 24.4-32.402 37.226-.307.318-.298.824.02 1.13.318.308.824.3 1.13-.02 12.415-12.866 23.542-25.668 32.52-37.36.27-.35.203-.854-.147-1.123-.35-.27-.853-.203-1.122.147zM136.784 57.733c21.942-16.69 38.045-24.222 42.293-19.98 1.103 1.1 1.423 3.08.887 5.928-.082.435.204.853.638.935.434.082.852-.204.934-.638.624-3.314.22-5.81-1.33-7.356-5.177-5.17-21.63 2.527-44.39 19.84-.353.267-.42.77-.153 1.12.267.353.77.42 1.12.153z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M41.735 95.085c1.525-.213 3.084-.42 4.674-.618", :stroke => "#1E96C7", "stroke-width" => "1.6"}
                    %path#Shape{:d => "M84.075 130.04C36.58 128.07 1.8 119.905 1.8 111.084c0-1.57 1.197-3.214 3.636-4.862.366-.247.462-.745.215-1.11-.246-.367-.744-.463-1.11-.216C1.706 106.813.2 108.88.2 111.085c0 10.305 35.045 18.533 83.81 20.553.44.018.813-.325.83-.766.02-.44-.324-.814-.765-.832zM164.88 127.092c-9.883 1.27-20.823 2.21-32.398 2.776-.44.022-.782.397-.76.838.022.44.397.782.838.76 11.616-.568 22.598-1.512 32.523-2.788.438-.056.748-.457.692-.895-.056-.438-.457-.748-.895-.692v.002zM166.93 95.35c27.33 3.692 44.052 9.738 44.052 15.735 0 1.532-1.137 3.13-3.456 4.74-.363.252-.453.75-.2 1.113.25.363.75.453 1.112.2 2.707-1.877 4.144-3.9 4.144-6.054 0-7.314-17.083-13.49-45.437-17.322-.438-.06-.84.248-.9.686-.06.438.248.84.686.9z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M49.338 160.675l-1.502-.408c-.248-.88-.536-1.724-.986-2.522l.895-1.436c.228-.38.183-.865-.13-1.177l-2.522-2.528c-.312-.315-.794-.37-1.174-.144l-1.438.863c-.8-.448-1.643-.8-2.524-1.046l-.408-1.49c-.107-.426-.492-.59-.934-.59h-3.58c-.442 0-.827.164-.934.59l-.41 1.558c-.88.247-1.725.564-2.524 1.012l-1.438-.88c-.38-.226-.865-.175-1.177.137l-2.532 2.524c-.31.312-.372.794-.145 1.172l.863 1.438c-.448.796-.798 1.64-1.045 2.517l-1.856.41c-.428.11-.956.493-.956.934v3.575c0 .44.528.825.957.933l1.742.41c.247.88.654 1.723 1.102 2.518l-.835 1.44c-.227.378-.152.862.16 1.174l2.538 2.528c.31.314.8.37 1.18.145l1.442-.862c.8.45 1.644.8 2.525 1.047l.41 1.74c.106.428.49.843.934.843h3.58c.442 0 .827-.416.934-.843l.41-1.682c.88-.247 1.725-.626 2.523-1.075l1.44.848c.378.226.864.16 1.176-.152l2.53-2.532c.313-.312.374-.8.146-1.177l-.864-1.437c.45-.798.8-1.643 1.048-2.523l1.378-.408c.428-.108.48-.493.48-.934v-3.576c0-.442-.052-.826-.48-.933v-.002z", :stroke => "#1E96C7", "stroke-width" => "1.2"}
                    %path#Shape{:d => "M36.8 166.688c-1.68 0-3.048-1.365-3.048-3.042 0-1.677 1.367-3.042 3.047-3.042 1.68 0 3.046 1.365 3.046 3.042 0 1.677-1.367 3.042-3.047 3.042zm0 1.2c2.34 0 4.246-1.902 4.246-4.242s-1.905-4.242-4.247-4.242c-2.343 0-4.248 1.902-4.248 4.242s1.905 4.242 4.247 4.242zM88.827 121.062l-.698-.71c-.31-.315-.817-.32-1.132-.01-.315.308-.32.815-.01 1.13l.7.712c.31.315.815.32 1.13.01.315-.31.32-.817.01-1.132zm-2.932-3.002l-.695-.72c-.307-.317-.813-.326-1.13-.02-.32.308-.328.814-.02 1.132l.696.72c.307.318.814.326 1.13.02.318-.308.326-.815.02-1.132zm-2.908-3.024l-.69-.724c-.304-.32-.81-.333-1.13-.03-.32.305-.334.812-.03 1.132l.692.726c.304.32.81.332 1.13.026.32-.305.332-.81.027-1.13zm-2.883-3.046l-.682-.728c-.302-.323-.808-.34-1.13-.038-.324.302-.34.808-.04 1.13l.685.73c.302.323.81.34 1.13.036.323-.302.34-.81.036-1.13zm-2.855-3.065l-.68-.735c-.298-.325-.804-.346-1.13-.047-.324.3-.345.805-.046 1.13l.68.737c.3.324.806.344 1.13.045.324-.3.344-.806.045-1.13zm-2.837-3.094l-.67-.738c-.297-.328-.802-.353-1.13-.056-.328.297-.353.802-.056 1.13l.672.74c.296.328.802.352 1.13.055.326-.296.35-.802.053-1.13zm-2.81-3.118l-.664-.745c-.295-.33-.8-.36-1.13-.066-.33.295-.36.8-.066 1.13l.666.748c.294.33.8.358 1.13.064.33-.294.358-.8.064-1.13zm-2.78-3.14l-.66-.754c-.29-.333-.796-.367-1.13-.076-.332.29-.366.796-.075 1.13l.662.755c.29.332.797.365 1.13.074.33-.29.364-.796.073-1.128zm-2.75-3.162l-.65-.758c-.288-.335-.793-.374-1.128-.087-.335.288-.374.793-.087 1.128l.653.76c.29.336.794.373 1.13.085.334-.288.37-.793.083-1.128zm-2.716-3.186l-.642-.762c-.284-.338-.79-.382-1.127-.098-.338.284-.382.79-.098 1.127l.645.766c.285.338.79.38 1.127.095.338-.284.38-.79.095-1.126zm-2.69-3.217l-.635-.77c-.28-.342-.785-.39-1.126-.11-.34.28-.39.784-.11 1.125l.64.775c.28.34.785.388 1.125.107.34-.282.39-.786.108-1.126zm-2.655-3.247l-.628-.78c-.277-.343-.78-.398-1.125-.12-.345.276-.4.78-.123 1.124l.63.782c.28.344.783.397 1.126.12.344-.28.397-.783.12-1.126zm-2.618-3.275l-.616-.783c-.273-.348-.776-.408-1.123-.135-.348.273-.408.776-.135 1.123l.62.786c.273.347.776.406 1.123.132s.406-.777.132-1.124zm-2.573-3.3l-.605-.79c-.268-.352-.77-.42-1.12-.15-.352.267-.42.77-.15 1.12l.608.795c.27.35.772.416 1.122.146.35-.27.416-.772.146-1.122zm-2.53-3.34l-.596-.8c-.263-.354-.764-.428-1.12-.165-.354.263-.428.764-.165 1.12l.598.803c.265.354.766.426 1.12.162.354-.265.426-.766.162-1.12zm-2.484-3.374l-.584-.81c-.258-.358-.757-.44-1.116-.182-.36.258-.44.757-.183 1.116l.587.815c.26.357.76.437 1.117.178.358-.26.438-.76.18-1.117zM45.38 70.06l-.567-.817c-.25-.363-.75-.454-1.113-.202-.364.25-.455.75-.203 1.113l.57.824c.254.362.752.45 1.115.198.362-.253.45-.75.198-1.114zm-2.358-3.452l-.55-.828c-.245-.37-.74-.47-1.11-.226-.368.244-.47.74-.225 1.108l.555.835c.245.367.742.466 1.11.22.367-.244.466-.74.22-1.11zm-2.287-3.508l-.53-.842c-.235-.374-.73-.488-1.104-.254-.373.234-.487.728-.253 1.103l.536.85c.237.374.73.484 1.104.248.373-.237.483-.73.247-1.104v-.002zm-2.19-3.56l-.506-.854c-.224-.38-.714-.51-1.095-.287-.38.223-.51.713-.287 1.094l.51.867c.227.38.718.504 1.098.278.38-.226.504-.717.278-1.097zm-2.07-3.616L36 55.05c-.208-.39-.693-.538-1.083-.33-.39.21-.538.694-.33 1.084l.48.887c.213.39.7.53 1.087.318.388-.212.53-.698.317-1.086zm-1.917-3.697l-.427-.893c-.187-.4-.663-.572-1.063-.384-.4.188-.572.664-.384 1.064l.436.913c.192.397.67.563 1.068.37.397-.194.563-.673.37-1.07zm-1.69-3.783l-.358-.915c-.156-.413-.618-.622-1.03-.466-.414.157-.623.62-.467 1.032.117.31.24.627.37.948.165.41.63.608 1.04.443.41-.165.61-.63.444-1.04zm-1.335-3.885c-.088-.32-.167-.634-.237-.938-.1-.432-.53-.7-.96-.6-.43.098-.698.528-.6.958.076.326.16.66.254 1 .117.427.557.678.983.562.426-.117.677-.557.56-.983zm-.652-3.96c-.006-.322.003-.628.028-.917.037-.44-.29-.827-.73-.864-.44-.037-.827.29-.864.73-.03.346-.04.707-.032 1.083.01.44.375.79.816.782.442-.01.792-.375.783-.816zm.98-3.517l.16-.17c.118-.12.246-.228.384-.328.358-.26.438-.76.18-1.117-.26-.358-.76-.438-1.118-.18-.206.15-.4.314-.578.493l-.238.256c-.29.334-.252.84.082 1.128.334.29.84.252 1.128-.082zm3.215-1.3c.292-.013.6-.013.923.003.44.02.816-.32.837-.76.02-.442-.32-.817-.76-.838-.374-.018-.732-.018-1.077-.002-.44.02-.782.396-.76.838.02.442.396.783.838.76zm3.93.47c.304.074.616.156.937.247.425.12.867-.126.988-.55.12-.426-.126-.868-.55-.99-.34-.095-.673-.183-.998-.262-.43-.104-.862.16-.966.59-.104.428.16.86.59.965h-.002zm3.878 1.237l.913.36c.41.168.876-.03 1.043-.438.166-.41-.03-.877-.44-1.044l-.945-.374c-.413-.158-.875.048-1.033.46-.158.414.048.876.46 1.034zm3.8 1.636l.892.43c.397.193.876.03 1.07-.368.194-.397.03-.876-.367-1.07l-.91-.438c-.4-.19-.877-.018-1.066.382-.19.398-.018.875.382 1.064zm3.734 1.89l.87.472c.388.213.875.07 1.087-.316.213-.388.07-.875-.316-1.087l-.885-.48c-.39-.21-.874-.064-1.083.326-.21.388-.063.873.327 1.082zm3.654 2.054l.856.506c.38.226.87.102 1.097-.277.226-.38.102-.87-.277-1.097l-.866-.513c-.38-.224-.87-.096-1.095.285-.224.38-.096.87.285 1.095zm3.59 2.18l.843.53c.373.238.867.128 1.104-.245.237-.373.127-.867-.246-1.104l-.85-.537c-.373-.234-.867-.12-1.102.254-.235.374-.122.868.253 1.103zm3.537 2.28l.83.552c.367.245.864.146 1.11-.22.246-.368.147-.865-.22-1.11l-.836-.557c-.368-.244-.864-.143-1.108.226-.244.368-.143.864.226 1.108zm3.377 2.284l.82.57c.36.252.86.163 1.113-.2.253-.362.164-.86-.2-1.114l-.823-.572c-.364-.25-.862-.16-1.113.204-.25.364-.16.862.205 1.113zM68 52.224l.808.583c.358.26.858.178 1.117-.18.26-.358.178-.858-.18-1.117l-.814-.587c-.358-.257-.858-.175-1.115.184-.257.36-.175.86.184 1.116zm3.388 2.472l.8.595c.354.264.855.192 1.12-.162.264-.354.192-.855-.162-1.12l-.804-.598c-.355-.263-.856-.19-1.12.166-.262.355-.188.856.167 1.12h-.002zm3.35 2.52l.105.08c.35.27.853.202 1.12-.15.27-.35.202-.852-.15-1.12l-.106-.082c-.35-.268-.853-.2-1.12.15-.27.35-.202.853.15 1.12v.002zM159.926 142.393l.602.792c.267.352.77.42 1.12.155.353-.267.422-.77.156-1.12l-.605-.797c-.27-.35-.77-.42-1.122-.15-.35.267-.42.77-.15 1.12h-.002zm2.517 3.35l.59.8c.263.356.763.433 1.12.17.355-.26.432-.76.17-1.117l-.594-.806c-.264-.355-.765-.43-1.12-.167-.355.263-.43.764-.167 1.12zm2.466 3.386l.577.81c.256.36.755.444 1.115.188s.445-.755.19-1.115l-.582-.816c-.257-.36-.757-.442-1.116-.185-.36.257-.442.757-.185 1.116zm2.404 3.422l.563.82c.25.366.747.46 1.112.21.364-.248.458-.746.21-1.11l-.568-.83c-.25-.363-.75-.455-1.113-.204-.365.25-.457.75-.206 1.113v.002zm2.34 3.473l.545.833c.24.37.735.475 1.106.234.37-.24.475-.736.234-1.107l-.55-.84c-.243-.37-.74-.472-1.108-.23-.37.244-.47.74-.228 1.11zm2.255 3.517l.523.847c.23.376.724.493 1.1.262.377-.23.494-.724.263-1.1l-.53-.856c-.233-.375-.726-.49-1.1-.256-.376.234-.49.727-.257 1.102zm2.156 3.577l.496.86c.22.384.708.517 1.09.298.385-.22.518-.708.3-1.09l-.503-.873c-.223-.382-.713-.51-1.095-.29-.382.223-.51.713-.29 1.095zm2.03 3.643l.458.878c.203.394.685.548 1.078.345.393-.203.547-.685.344-1.078l-.467-.893c-.208-.39-.692-.54-1.083-.332-.39.207-.54.69-.332 1.082zm1.852 3.718l.408.9c.18.404.652.586 1.056.406.404-.18.586-.652.406-1.056l-.42-.923c-.185-.4-.66-.575-1.06-.39-.402.187-.576.662-.39 1.063zm1.6 3.818c.117.313.226.62.328.923.142.42.597.643 1.015.5.42-.14.643-.596.5-1.014-.106-.315-.22-.636-.34-.962-.153-.414-.613-.626-1.028-.473-.414.154-.626.614-.473 1.03v-.002zm1.175 3.923c.07.325.13.64.178.943.07.436.482.733.918.663.436-.07.733-.48.663-.917-.052-.333-.117-.675-.192-1.025-.093-.432-.518-.707-.95-.614-.432.094-.707.52-.614.95zm.293 3.918c-.038.308-.095.595-.17.862-.12.425.128.867.553.987.424.12.866-.128.986-.553.098-.347.17-.714.218-1.1.054-.438-.257-.838-.696-.892-.438-.054-.838.257-.892.696zm-1.673 2.955c-.226.14-.475.258-.75.354-.416.147-.634.604-.487 1.02.147.418.604.636 1.02.49.38-.135.734-.302 1.06-.503.375-.232.49-.725.26-1.1-.233-.377-.726-.493-1.102-.26zm-3.624.65c-.302-.022-.614-.054-.94-.1-.437-.06-.84.244-.902.682-.06.438.244.842.682.903.36.05.71.087 1.05.11.44.03.823-.303.853-.744.03-.44-.303-.823-.744-.853v.002zm-4.016-.79c-.304-.09-.614-.188-.93-.293-.42-.14-.873.09-1.012.51-.14.42.09.87.51 1.01.332.11.658.212.978.307.424.125.87-.116.994-.54.125-.424-.116-.87-.54-.994zm-3.81-1.37l-.907-.387c-.405-.177-.876.01-1.053.414-.177.405.01.876.414 1.053l.935.397c.408.17.876-.025 1.045-.433.17-.408-.025-.876-.433-1.045zm-3.792-1.733l-.884-.444c-.394-.2-.875-.044-1.076.35-.2.393-.044.874.35 1.075l.9.454c.397.196.877.033 1.073-.363.196-.395.033-.875-.363-1.07zm-3.705-1.946l-.865-.484c-.385-.217-.873-.082-1.09.303-.217.385-.082.873.303 1.09l.878.49c.387.215.873.075 1.087-.312.214-.386.074-.872-.313-1.086zm-3.637-2.1l-.85-.515c-.378-.23-.87-.112-1.1.266-.23.377-.11.87.267 1.1l.86.52c.38.226.87.103 1.1-.275.226-.378.103-.87-.275-1.097h-.002zm-3.573-2.214l-.838-.538c-.372-.24-.867-.134-1.107.237-.24.37-.134.865.237 1.105l.846.543c.372.238.867.13 1.105-.244.24-.372.13-.867-.243-1.105zm-3.44-2.253l-.826-.557c-.365-.248-.862-.152-1.11.213-.248.366-.152.863.213 1.11l.832.562c.367.246.864.148 1.11-.22.246-.366.148-.863-.22-1.11l.002.002zm-3.438-2.355l-.816-.573c-.36-.256-.86-.17-1.115.192-.256.36-.17.86.192 1.115l.82.577c.363.253.862.165 1.115-.197s.165-.86-.197-1.114zm-3.41-2.427l-.806-.587c-.357-.26-.857-.183-1.118.174-.26.357-.183.857.174 1.118l.81.59c.36.26.86.18 1.118-.178.26-.358.18-.858-.178-1.117zm-3.38-2.49l-.797-.6c-.353-.265-.854-.194-1.12.158-.266.353-.195.854.157 1.12l.802.602c.354.265.855.193 1.12-.16.265-.355.193-.856-.16-1.12zm-3.335-2.532l-.79-.61c-.35-.27-.852-.207-1.122.142-.27.35-.207.852.142 1.122l.794.613c.35.27.85.204 1.12-.146.27-.35.205-.852-.145-1.122zm-3.31-2.583l-.783-.62c-.346-.275-.85-.217-1.124.13-.275.345-.217.848.13 1.123l.785.622c.347.274.85.215 1.124-.132.274-.347.215-.85-.132-1.124zm-3.28-2.623l-.776-.63c-.344-.278-.848-.226-1.126.117-.28.343-.227.847.116 1.125l.778.63c.343.278.847.225 1.125-.12.278-.342.225-.846-.12-1.124zm-3.25-2.658l-.768-.638c-.34-.282-.844-.236-1.127.104-.282.34-.236.844.104 1.127l.77.64c.34.28.846.233 1.127-.108.283-.34.235-.845-.106-1.126zm-3.22-2.693l-.762-.645c-.337-.286-.842-.244-1.128.092-.286.337-.244.842.092 1.128l.765.647c.338.284.842.24 1.127-.096.284-.338.24-.842-.096-1.127z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M123.786 130.15c.362 1.358.548 2.764.548 4.195 0 8.97-7.28 16.24-16.262 16.24s-16.262-7.27-16.262-16.24c0-8.97 7.28-16.24 16.262-16.24 2.854 0 5.6.735 8.027 2.113.287.164.653.063.817-.225.164-.288.063-.654-.225-.818-2.606-1.48-5.556-2.27-8.62-2.27-9.643 0-17.46 7.81-17.46 17.44 0 9.634 7.817 17.44 17.46 17.44 9.645 0 17.463-7.807 17.463-17.44 0-1.535-.2-3.045-.588-4.503-.085-.32-.414-.51-.734-.425-.32.085-.51.414-.425.734h-.002z", :fill => "#FD336E"}
                    %path#Shape{:d => "M108.07 123.82c-5.82 0-10.538 4.712-10.538 10.525 0 5.813 4.72 10.525 10.54 10.525 5.82 0 10.538-4.712 10.538-10.525 0-5.813-4.72-10.525-10.54-10.525", :fill => "#314768"}
                    %path#Shape{:d => "M102.447 133.228l4.743 4.736c.313.312.82.312 1.13 0 .313-.314.313-.82 0-1.132l-4.743-4.736c-.313-.312-.82-.312-1.13 0-.313.314-.313.82 0 1.132z", :fill => "#FD336E"}
                    %path#Shape{:d => "M108.32 137.964l13.49-13.472c.313-.312.313-.82 0-1.13-.31-.314-.818-.314-1.13-.002l-13.49 13.472c-.313.312-.313.82 0 1.13.31.314.818.314 1.13.002z", :fill => "#FD336E"}
                    %path#Shape{:d => "M22.306 84.61l-13.51 3.95-.43.127v5.643c0 6.212 2.61 11.32 6.943 15.382 1.51 1.416 3.127 2.6 4.746 3.567.567.338 1.095.625 1.57.862.288.144.497.24.613.29l.235.1.236-.1c.117-.05.324-.147.61-.29.473-.24.997-.526 1.56-.865 1.61-.967 3.217-2.154 4.72-3.57 4.307-4.065 6.9-9.175 6.9-15.386v-5.826l-.437-.123-13.427-3.762-.165-.046-.164.048zm.337 1.152l-.33.002 13.427 3.763-.438-.578v5.37c0 5.85-2.44 10.66-6.525 14.514-1.435 1.354-2.974 2.49-4.513 3.415-.537.322-1.036.596-1.482.82l-.544.26h.473l-.547-.26c-.45-.225-.95-.498-1.49-.82-1.55-.925-3.098-2.06-4.542-3.413-4.108-3.85-6.564-8.657-6.564-14.506V89.14l-.432.576 13.51-3.95v-.002z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M19.727 98.612l1.795 1.68c.154.144.392.144.546 0l3.205-3c.16-.15.17-.403.02-.564-.152-.16-.404-.17-.565-.02l-3.205 3h.546l-1.796-1.68c-.16-.15-.414-.14-.564.02-.15.16-.142.414.02.564h-.003z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M27.6 98.5c0 2.817-2.283 5.1-5.1 5.1-2.817 0-5.1-2.283-5.1-5.1 0-2.817 2.283-5.1 5.1-5.1 2.817 0 5.1 2.283 5.1 5.1zm.8 0c0-3.258-2.64-5.9-5.9-5.9-3.257 0-5.898 2.642-5.898 5.9 0 3.258 2.64 5.9 5.9 5.9 3.257 0 5.898-2.642 5.898-5.9zM198.865 115.825c1.047 0 1.982.854 1.982 1.817 0 1.003-.825 1.827-1.83 1.827h-.31c-.33 0-.6.268-.6.6 0 .33.27.6.6.6h.31c1.668 0 3.03-1.36 3.03-3.028 0-1.65-1.495-3.017-3.182-3.017h-8.08c-.332 0-.6.27-.6.6 0 .33.268.6.6.6h8.08z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M198.707 120.67c.78 0 1.1.542 1.1 1.826 0 1.003-.826 1.827-1.83 1.827h-.534c-.33 0-.6.27-.6.6 0 .33.27.6.6.6h.533c1.668 0 3.03-1.36 3.03-3.027 0-1.86-.684-3.027-2.3-3.027-.33 0-.6.268-.6.6 0 .33.27.6.6.6z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M198.764 127.35c0 1.003-.825 1.827-1.83 1.827l-.372.588.372.612v-1.2 1.2c1.668 0 3.03-1.36 3.03-3.027 0-1.766-.898-3.027-2.522-3.027-.33 0-.6.27-.6.6 0 .33.27.6.6.6.857 0 1.322.653 1.322 1.827zM171.64 125.202c0-3.217 1.31-5.935 3.632-7.526.273-.187.343-.56.156-.834-.187-.273-.56-.343-.834-.156-2.664 1.825-4.154 4.918-4.154 8.516 0 3.712 1.98 7.185 5.1 9.1.283.173.653.085.826-.198.173-.282.085-.652-.198-.825-2.768-1.7-4.528-4.787-4.528-8.078z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M197.02 130.377c.763 0 1.05.514 1.05 1.827 0 1.022-.906 1.962-1.893 1.962l-9.445.186c-4.936 0-8.987-4.305-8.987-9.43 0-3.766 1.792-6.72 4.945-8.117 2.573-1.157 4.198-3.788 2.994-6.675-.85-2.038-.836-2.726.037-3.346.798-.565 1.967-.385 2.76.522 2.263 2.262 2.69 5.232 1.744 7.705-.118.31.037.657.346.776.31.118.656-.037.775-.346 1.104-2.89.605-6.36-1.99-8.952-1.157-1.33-3.013-1.614-4.328-.682-1.466 1.04-1.49 2.292-.45 4.787.91 2.185-.333 4.2-2.376 5.118-3.597 1.595-5.654 4.987-5.654 9.215 0 5.77 4.57 10.63 10.2 10.63l9.444-.187c1.648 0 3.08-1.488 3.08-3.162 0-1.888-.635-3.027-2.25-3.027-.33 0-.6.268-.6.6 0 .33.27.6.6.6v-.003zM174.3 57.5l5.168-6.638.01.056 4.543 4.536v.058l-6.59 5.113c-.262.203-.31.58-.106.842.203.262.58.31.842.106l6.647-5.162c.542-.533.542-1.32.056-1.805l-4.543-4.536c-.485-.486-1.272-.486-1.757 0l-5.218 6.69c-.204.262-.157.64.105.843.26.204.638.157.842-.105zM169.155 68.89l-5.17 6.638-.01-.056-4.542-4.536v-.058l6.59-5.113c.262-.203.31-.58.106-.842-.204-.262-.58-.31-.843-.106l-6.646 5.162c-.54.533-.54 1.32-.055 1.805l4.542 4.536c.485.486 1.272.486 1.757 0l5.22-6.692c.203-.26.156-.638-.106-.842-.26-.204-.638-.157-.842.105zM177.43 65.765l6.647 5.162-.056.01-4.54 4.535h-.062l-5.12-6.582c-.203-.26-.58-.308-.84-.105-.262.204-.31.58-.106.842l5.17 6.638c.534.54 1.32.54 1.805.056l4.543-4.536c.486-.485.486-1.272 0-1.757l-6.702-5.212c-.262-.203-.64-.156-.842.106-.203.263-.156.64.106.843v.002zM166.022 60.625l-6.646-5.162.056-.008 4.543-4.537h.06l5.12 6.582c.204.26.58.308.842.105.26-.204.308-.58.105-.842l-5.17-6.637c-.533-.54-1.32-.54-1.805-.056l-4.542 4.536c-.486.484-.486 1.27 0 1.756l6.702 5.212c.262.203.64.156.842-.106.202-.262.155-.64-.107-.842zM184.357 60.608c.505 1.707.506 3.468 0 5.173-.094.32.087.653.405.747.318.094.652-.087.746-.405.57-1.928.57-3.926 0-5.855-.094-.318-.428-.5-.746-.405-.318.094-.5.428-.405.746zM169.138 50.7c1.68-.496 3.416-.504 5.098-.022.32.09.65-.093.742-.412.09-.32-.093-.65-.412-.742-1.902-.544-3.87-.535-5.77.026-.317.094-.498.428-.404.746.094.318.428.5.746.405zM159.404 66.1c-.7-1.77-.752-3.605-.155-5.386.104-.314-.065-.654-.38-.76-.313-.105-.653.064-.76.378-.687 2.05-.626 4.178.178 6.21.122.308.47.46.78.337.307-.123.458-.472.336-.78zM174.316 75.81c-1.707.504-3.47.504-5.178 0-.318-.095-.652.086-.745.404-.094.318.087.652.405.745 1.93.57 3.93.57 5.858 0 .318-.095.5-.43.405-.746-.093-.318-.427-.5-.744-.405z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M174.85 66.313c-1.725 1.723-4.522 1.723-6.246 0-1.724-1.722-1.724-4.514 0-6.236 1.725-1.723 4.522-1.723 6.246 0 1.724 1.722 1.724 4.514 0 6.236zm.848.85c2.194-2.192 2.194-5.744 0-7.935-2.193-2.19-5.75-2.19-7.942 0-2.194 2.19-2.194 5.743 0 7.934 2.193 2.19 5.75 2.19 7.942 0z", :fill => "#1E96C7"}
            %ul.feature-list
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("unlimited-records.svg")}/
                %span.item-desc Không giới hạn số bản ghi, biểu đồ và báo cáo thống kê
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("dedicated-cpu.svg")}/
                %span.item-desc Hệ thống lưu trữ dự phòng riêng biết và phân luồng truy cập ưu tiên
              %li.feature-list-item.sla
                %span.item-icon
                  %img{:src => asset_path("dedicated-customer.svg")}/
                %span.item-desc Đội ngũ phát triển trực tiếp hướng dẫn giúp đỡ cũng như cung cấp thông tin về các tiện ích sắp tới. Hỗ trợ giải quyết sự cố ngay lập tức
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("enterprise-sla.svg")}/
                %span.item-desc
                  Các phần mở rộng dành riêng cho trung tâm y tế
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("exclusive-enterprise.svg")}/
                %span.item-desc
                  Các tiện ích hỗ trợ độc quyền dành cho trung tâm y tế
            %a.btn.btn-static-primary{:href => "enterprise"} Tìm hiểu về gói sản phẩm này
      .inner-container.flex-container.last.hidden-xs
        .col-md-10.column.last-column
          .col-md-4
            %div
              %h4 Sinh viên
              %h3 FREE
            %a.btn.btn-info{:href => "/signup"} Đăng ký ngay
          .col-md-4
            .row.spacer40
            %ul.feature-list.feature-list-hacker
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("icon-record-color.svg")}/
                %span.item-title 500
                %span.item-subtitle Bản ghi
              %li.feature-list-item
                %span.item-icon
                  %img{:src => asset_path("icon-operation-color.svg")}/
                %span.item-title Không
                %span.item-subtitle Hỗ trợ biểu đồ thống kê và báo cáo
            %a.btn.btn-info.mobile-only{:href => "/signup"} Đăng ký ngay
            .row.spacer30
          .col-md-4.text-center
            .row.spacer40
            .row.powered-by
              %p
                %span Tài trợ bởi
                %img{:alt => "Aligosa", :src => asset_path("aligosa.jpg")}/
                %span
                  %a{:alt => "Download Aligosa assets", :href => "#"}
                    %img{:alt => "download", :src => asset_path("icon-download.svg"), :width => "19px"}/
              %p
                %span Gói sản phẩm sinh viên được cung cấp miễn phí cho các sinh viên y khoa đang học tập tại Hà Nội
            .row.spacer30
    .container.container-details
      .spacer80
      .inner-container
        .col-md-6.text-center
          %h2
            %span
              %img{:src => asset_path("icon-record-color.svg")}/
            Bản ghi là gì ?
          %p Bản ghi là một dữ liệu được bạn nhập vào hệ thống quản lý (bao gồm cả tệp đính kèm nếu có). Một bản ghi sẽ có thể nằm trong nhiều mục khác nhau tuy nhiên nếu có giới hạn tổng số bản ghi thì các bản ghi cũ trong tháng sử dụng sẽ được xóa đi và thay vào đó là các bản ghi mới hơn. Tùy vào bản ghi đó thuộc mục nào mà nó có thể được tính là một hay nhiều bản ghi
          %a.smooth-anchor{:href => "/documentation/faq"} Tìm hiểu thêm
        .col-md-6.text-center
          %h2
            %span
              %img{:src => asset_path("icon-operation-color.svg")}/
            Biểu đồ và báo cáo thống kê có tác dụng gì
          %p Biểu đồ là một loại hình thống kê trực quan giúp người xem dễ nắm bắt tình hinh hơn, các báo cáo thống kê giúp chi tiết các số liệu giúp bạn có thể in ra và so sánh với các số liệu cũ mà bạn có. Nếu có giới hạn về số biểu đồ và báo cáo thống kê, các bạn sẽ chỉ có thể tạo được số lượng giới hạn các biểu đồ thống kê cũng như báo cáo.
          %a.smooth-anchor{:href => "/documentation/faq"} Tìm hiểu thêm
        %section.container-list-big
          %h2.text-center.underlined Có trong mọi gói sản phẩm
          .spacer100
          .row
            %ul.plan-features-list
              %li.col-md-12
                .col-md-1
                  %img{:src => asset_path("datacenter-location.svg")}/
                .col-md-3
                  %h4
                    Trung tâm dữ liệu ổn định
                    %br/
                .col-md-8
                  %p
                  %p Bạn có thể lựa chọn khu vực đường truyền tốt nhất với bạn trong khu vực
                  %p
              %li.col-md-12
                .col-md-1
                  %img{:src => asset_path("clusters.svg")}/
                .col-md-3
                  %h4
                    Hệ thống quản lý
                    %br/
                    luôn sẵn sàng
                .col-md-8
                  %p
                  %p Chúng tôi có các hệ thống dự phòng giúp hoạt động của hệ thống không xảy ra bất kỳ sự cố nào
                  %p
              %li.col-md-12
                .col-md-1
                  %img{:src => asset_path("unlimited-team.svg")}/
                .col-md-3
                  %h4
                    Không giới hạn 
                    %br/
                    số lượng nhân viên sử dụng
                .col-md-8
                  %p
                  %p Bạn có thể thêm danh mục những người làm việc cho trung tâm y tế của bạn thoải mái mà không phải lo về giới hạn nào đó
                  %p
              %li.col-md-12
                .col-md-1
                  %img{:src => asset_path("extensions-plugins-big.svg")}/
                .col-md-3
                  %h4
                    Tiện ích mở rộng
                    %br/
                    cho mọi thiết bị
                .col-md-8
                  %p
                  %p
                    Bạn sử dụng máy tính để bàn, máy tính bảng hay điện thoại thông minh đều không thành vấn đề, hệ thống của chúng tôi có các tiện ích mở rộng cho mọi thiết bị sử dụng
                    %a{:href => "/documentation/faq"} Tìm hiểu thêm về tiện ích
                  %p
              %li.col-md-12
                .col-md-1
                  %img{:src => asset_path("analytics.svg")}/
                .col-md-3
                  %h4
                    Hệ thống số liệu
                    %br/
                    thời gian thực
                .col-md-8
                  %p
                  %p Quan sát và cảm nhận mọi việc đang diễn ra tại cơ sở của bạn theo thời gian thực.
                  %p
          .row.spacer80
          .row.text-center
            %a.btn.btn-info.btn-lg{:href => "/enterprise/demo"} DEMO sản phẩm
          .row.spacer80
    .container.container-overview
      .inner-container
        %ul.pricing--overview-list
          %li.list-item.text-center
            %a{:href => "/features"}
              %span.item-icon
                %img{:src => asset_path("icon-performances.svg")}/
              %span.item-title Sản phẩm
              %span.item-desc vượt trồi
          %li.list-item.text-center
            %a{:href => "/documentation/faq"}
              %span.item-icon
                %img{:src => asset_path("icon-screen.svg")}/
              %span.item-title Hỗ trợ
              %span.item-desc trên mọi thiết bị
          %li.list-item.text-center
            %a{:href => "/documentation/faq"}
              %span.item-icon
                %img{:src => asset_path("icon-global.svg")}/
              %span.item-title Sử dụng
              %span.item-desc bất kỳ đâu
          %li.list-item.text-center
            %a{:href => "/documentation"}
              %span.item-icon
                %img{:src => asset_path("icon-buoy.svg")}/
              %span.item-title Thông tin
              %span.item-desc hướng dẫn
    .container.container-enterprise.hidden-xs
      .inner-container
        .spacer35
        .row.col-md-12
          .col-md-5.enterprise-illustration
            %svg{:viewbox => "0 0 213 217", :xmlns => "http://www.w3.org/2000/svg"}
              %title enterprise-illu
              %g#Page-1{:fill => "none", "fill-rule" => "evenodd"}
                %g#enterprise-illu
                  %g#Group
                    %path#Star-20{:d => "M124.34 31.384c0 1.733-1.406 3.138-3.142 3.138 1.736 0 3.143 1.405 3.143 3.138 0-1.733 1.408-3.138 3.144-3.138-1.736 0-3.143-1.405-3.143-3.138z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-19{:d => "M87.978 37.66c0 1.734-1.407 3.14-3.143 3.14 1.736 0 3.143 1.404 3.143 3.137 0-1.733 1.407-3.138 3.143-3.138-1.735 0-3.142-1.406-3.142-3.14z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-18{:d => "M81.692 181.58c0 1.734-1.407 3.14-3.143 3.14 1.735 0 3.142 1.404 3.142 3.137 0-1.733 1.407-3.138 3.143-3.138-1.736 0-3.143-1.406-3.143-3.14z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-17{:d => "M130.627 173.96c0 1.732-1.407 3.137-3.143 3.137 1.736 0 3.143 1.405 3.143 3.138 0-1.733 1.407-3.138 3.143-3.138-1.736 0-3.143-1.405-3.143-3.138z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-16{:d => "M152.624 15.692c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-15{:d => "M101.792 20.002c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-14{:d => "M129.73 0c0 .99-.805 1.793-1.797 1.793.992 0 1.796.803 1.796 1.793 0-.99.803-1.793 1.795-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-13{:d => "M58.348 12.554c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-12{:d => "M16.597 63.665c0 .99-.804 1.793-1.796 1.793.993 0 1.797.803 1.797 1.793 0-.99.804-1.792 1.796-1.792-.992 0-1.796-.803-1.796-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-11{:d => "M196.17 81.6c0 .99-.803 1.792-1.795 1.792.992 0 1.796.803 1.796 1.793 0-.99.805-1.793 1.797-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-10{:d => "M205.15 50.215c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.792 1.796-1.792-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-9{:d => "M191.233 148.403c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.794 1.796-1.794-.993 0-1.797-.803-1.797-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-8{:d => "M195.722 166.337c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-7{:d => "M136.463 211.17c0 .99-.804 1.794-1.796 1.794.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.993 0-1.797-.803-1.797-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-6{:d => "M103.69 190.996c0 .99-.804 1.793-1.796 1.793.992 0 1.796.802 1.796 1.792 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.804-1.796-1.794z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-5{:d => "M84.835 213.413c0 .99-.804 1.793-1.796 1.793.99 0 1.795.803 1.795 1.793 0-.99.804-1.794 1.796-1.794-.99 0-1.795-.803-1.795-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-4{:d => "M57.45 211.17c0 .99-.804 1.794-1.796 1.794.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.992 0-1.796-.803-1.796-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-3{:d => "M30.963 139.884c0 .99-.804 1.793-1.796 1.793.992 0 1.796.803 1.796 1.793 0-.99.804-1.793 1.796-1.793-.993 0-1.797-.803-1.797-1.793z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Star-2{:d => "M13.005 132.71c0 .99-.804 1.794-1.796 1.794.99 0 1.795.803 1.795 1.793 0-.99.804-1.793 1.796-1.793-.99 0-1.795-.803-1.795-1.793z", :stroke => "#3C6996", "stroke-width" => "1.2"}
                    %path#Star-1{:d => "M7.17 152.886c0 .99-.805 1.793-1.797 1.793.992 0 1.796.802 1.796 1.792 0-.99.803-1.793 1.795-1.793-.992 0-1.796-.804-1.796-1.794z", :stroke => "#314768", "stroke-width" => "1.2"}
                    %path#Shape{:d => "M159.923 111.61c0 30.228-24.536 54.732-54.803 54.732-30.267 0-54.803-24.504-54.803-54.73 0-30.228 24.536-54.732 54.803-54.732 30.267 0 54.803 24.504 54.803 54.73", :fill => "#243754"}
                    %path#Shape{:d => "M62.963 111.61c0-23.25 18.874-42.1 42.156-42.1", :stroke => "#314768", "stroke-width" => "4"}
                    %path#Shape{:d => "M128.932 62.303c8.78 9.705 14.128 22.568 14.128 36.677 0 30.227-24.536 54.73-54.803 54.73-8.533 0-16.612-1.948-23.812-5.423 10.03 11.086 24.537 18.054 40.675 18.054 30.267 0 54.803-24.503 54.803-54.73 0-21.705-12.65-40.458-30.99-49.308", :fill => "#1F2C49"}
                    %path#Shape{:d => "M159.923 111.61c0 30.228-24.536 54.732-54.803 54.732-30.267 0-54.803-24.504-54.803-54.73 0-30.228 24.536-54.732 54.803-54.732 30.267 0 54.803 24.504 54.803 54.73z", :stroke => "#43658E", "stroke-width" => "1.6"}
                    %path#Shape{:d => "M48.43 146.884c1.02-1.38 2.068-2.773 3.145-4.18.27-.35.202-.852-.15-1.12-.35-.27-.852-.203-1.12.148-1.084 1.414-2.138 2.815-3.162 4.202-.262.355-.187.856.17 1.12.354.26.855.186 1.118-.17zM91.108 151.146c-30.158 25.96-54.486 39.776-59.945 34.324-.823-.822-1.21-2.127-1.13-3.936.02-.44-.322-.815-.764-.835-.442-.02-.816.32-.836.763-.1 2.22.418 3.96 1.598 5.14 6.47 6.46 31.056-7.505 62.12-34.244.335-.29.373-.794.084-1.13-.288-.334-.793-.372-1.128-.083zM158.445 80.804c-8.94 11.643-20.027 24.4-32.402 37.226-.307.318-.298.824.02 1.13.318.308.824.3 1.13-.02 12.415-12.866 23.542-25.668 32.52-37.36.27-.35.203-.854-.147-1.123-.35-.27-.853-.203-1.122.147zM136.784 57.733c21.942-16.69 38.045-24.222 42.293-19.98 1.103 1.1 1.423 3.08.887 5.928-.082.435.204.853.638.935.434.082.852-.204.934-.638.624-3.314.22-5.81-1.33-7.356-5.177-5.17-21.63 2.527-44.39 19.84-.353.267-.42.77-.153 1.12.267.353.77.42 1.12.153z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M41.735 95.085c1.525-.213 3.084-.42 4.674-.618", :stroke => "#1E96C7", "stroke-width" => "1.6"}
                    %path#Shape{:d => "M84.075 130.04C36.58 128.07 1.8 119.905 1.8 111.084c0-1.57 1.197-3.214 3.636-4.862.366-.247.462-.745.215-1.11-.246-.367-.744-.463-1.11-.216C1.706 106.813.2 108.88.2 111.085c0 10.305 35.045 18.533 83.81 20.553.44.018.813-.325.83-.766.02-.44-.324-.814-.765-.832zM164.88 127.092c-9.883 1.27-20.823 2.21-32.398 2.776-.44.022-.782.397-.76.838.022.44.397.782.838.76 11.616-.568 22.598-1.512 32.523-2.788.438-.056.748-.457.692-.895-.056-.438-.457-.748-.895-.692v.002zM166.93 95.35c27.33 3.692 44.052 9.738 44.052 15.735 0 1.532-1.137 3.13-3.456 4.74-.363.252-.453.75-.2 1.113.25.363.75.453 1.112.2 2.707-1.877 4.144-3.9 4.144-6.054 0-7.314-17.083-13.49-45.437-17.322-.438-.06-.84.248-.9.686-.06.438.248.84.686.9z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M49.338 160.675l-1.502-.408c-.248-.88-.536-1.724-.986-2.522l.895-1.436c.228-.38.183-.865-.13-1.177l-2.522-2.528c-.312-.315-.794-.37-1.174-.144l-1.438.863c-.8-.448-1.643-.8-2.524-1.046l-.408-1.49c-.107-.426-.492-.59-.934-.59h-3.58c-.442 0-.827.164-.934.59l-.41 1.558c-.88.247-1.725.564-2.524 1.012l-1.438-.88c-.38-.226-.865-.175-1.177.137l-2.532 2.524c-.31.312-.372.794-.145 1.172l.863 1.438c-.448.796-.798 1.64-1.045 2.517l-1.856.41c-.428.11-.956.493-.956.934v3.575c0 .44.528.825.957.933l1.742.41c.247.88.654 1.723 1.102 2.518l-.835 1.44c-.227.378-.152.862.16 1.174l2.538 2.528c.31.314.8.37 1.18.145l1.442-.862c.8.45 1.644.8 2.525 1.047l.41 1.74c.106.428.49.843.934.843h3.58c.442 0 .827-.416.934-.843l.41-1.682c.88-.247 1.725-.626 2.523-1.075l1.44.848c.378.226.864.16 1.176-.152l2.53-2.532c.313-.312.374-.8.146-1.177l-.864-1.437c.45-.798.8-1.643 1.048-2.523l1.378-.408c.428-.108.48-.493.48-.934v-3.576c0-.442-.052-.826-.48-.933v-.002z", :stroke => "#1E96C7", "stroke-width" => "1.2"}
                    %path#Shape{:d => "M36.8 166.688c-1.68 0-3.048-1.365-3.048-3.042 0-1.677 1.367-3.042 3.047-3.042 1.68 0 3.046 1.365 3.046 3.042 0 1.677-1.367 3.042-3.047 3.042zm0 1.2c2.34 0 4.246-1.902 4.246-4.242s-1.905-4.242-4.247-4.242c-2.343 0-4.248 1.902-4.248 4.242s1.905 4.242 4.247 4.242zM88.827 121.062l-.698-.71c-.31-.315-.817-.32-1.132-.01-.315.308-.32.815-.01 1.13l.7.712c.31.315.815.32 1.13.01.315-.31.32-.817.01-1.132zm-2.932-3.002l-.695-.72c-.307-.317-.813-.326-1.13-.02-.32.308-.328.814-.02 1.132l.696.72c.307.318.814.326 1.13.02.318-.308.326-.815.02-1.132zm-2.908-3.024l-.69-.724c-.304-.32-.81-.333-1.13-.03-.32.305-.334.812-.03 1.132l.692.726c.304.32.81.332 1.13.026.32-.305.332-.81.027-1.13zm-2.883-3.046l-.682-.728c-.302-.323-.808-.34-1.13-.038-.324.302-.34.808-.04 1.13l.685.73c.302.323.81.34 1.13.036.323-.302.34-.81.036-1.13zm-2.855-3.065l-.68-.735c-.298-.325-.804-.346-1.13-.047-.324.3-.345.805-.046 1.13l.68.737c.3.324.806.344 1.13.045.324-.3.344-.806.045-1.13zm-2.837-3.094l-.67-.738c-.297-.328-.802-.353-1.13-.056-.328.297-.353.802-.056 1.13l.672.74c.296.328.802.352 1.13.055.326-.296.35-.802.053-1.13zm-2.81-3.118l-.664-.745c-.295-.33-.8-.36-1.13-.066-.33.295-.36.8-.066 1.13l.666.748c.294.33.8.358 1.13.064.33-.294.358-.8.064-1.13zm-2.78-3.14l-.66-.754c-.29-.333-.796-.367-1.13-.076-.332.29-.366.796-.075 1.13l.662.755c.29.332.797.365 1.13.074.33-.29.364-.796.073-1.128zm-2.75-3.162l-.65-.758c-.288-.335-.793-.374-1.128-.087-.335.288-.374.793-.087 1.128l.653.76c.29.336.794.373 1.13.085.334-.288.37-.793.083-1.128zm-2.716-3.186l-.642-.762c-.284-.338-.79-.382-1.127-.098-.338.284-.382.79-.098 1.127l.645.766c.285.338.79.38 1.127.095.338-.284.38-.79.095-1.126zm-2.69-3.217l-.635-.77c-.28-.342-.785-.39-1.126-.11-.34.28-.39.784-.11 1.125l.64.775c.28.34.785.388 1.125.107.34-.282.39-.786.108-1.126zm-2.655-3.247l-.628-.78c-.277-.343-.78-.398-1.125-.12-.345.276-.4.78-.123 1.124l.63.782c.28.344.783.397 1.126.12.344-.28.397-.783.12-1.126zm-2.618-3.275l-.616-.783c-.273-.348-.776-.408-1.123-.135-.348.273-.408.776-.135 1.123l.62.786c.273.347.776.406 1.123.132s.406-.777.132-1.124zm-2.573-3.3l-.605-.79c-.268-.352-.77-.42-1.12-.15-.352.267-.42.77-.15 1.12l.608.795c.27.35.772.416 1.122.146.35-.27.416-.772.146-1.122zm-2.53-3.34l-.596-.8c-.263-.354-.764-.428-1.12-.165-.354.263-.428.764-.165 1.12l.598.803c.265.354.766.426 1.12.162.354-.265.426-.766.162-1.12zm-2.484-3.374l-.584-.81c-.258-.358-.757-.44-1.116-.182-.36.258-.44.757-.183 1.116l.587.815c.26.357.76.437 1.117.178.358-.26.438-.76.18-1.117zM45.38 70.06l-.567-.817c-.25-.363-.75-.454-1.113-.202-.364.25-.455.75-.203 1.113l.57.824c.254.362.752.45 1.115.198.362-.253.45-.75.198-1.114zm-2.358-3.452l-.55-.828c-.245-.37-.74-.47-1.11-.226-.368.244-.47.74-.225 1.108l.555.835c.245.367.742.466 1.11.22.367-.244.466-.74.22-1.11zm-2.287-3.508l-.53-.842c-.235-.374-.73-.488-1.104-.254-.373.234-.487.728-.253 1.103l.536.85c.237.374.73.484 1.104.248.373-.237.483-.73.247-1.104v-.002zm-2.19-3.56l-.506-.854c-.224-.38-.714-.51-1.095-.287-.38.223-.51.713-.287 1.094l.51.867c.227.38.718.504 1.098.278.38-.226.504-.717.278-1.097zm-2.07-3.616L36 55.05c-.208-.39-.693-.538-1.083-.33-.39.21-.538.694-.33 1.084l.48.887c.213.39.7.53 1.087.318.388-.212.53-.698.317-1.086zm-1.917-3.697l-.427-.893c-.187-.4-.663-.572-1.063-.384-.4.188-.572.664-.384 1.064l.436.913c.192.397.67.563 1.068.37.397-.194.563-.673.37-1.07zm-1.69-3.783l-.358-.915c-.156-.413-.618-.622-1.03-.466-.414.157-.623.62-.467 1.032.117.31.24.627.37.948.165.41.63.608 1.04.443.41-.165.61-.63.444-1.04zm-1.335-3.885c-.088-.32-.167-.634-.237-.938-.1-.432-.53-.7-.96-.6-.43.098-.698.528-.6.958.076.326.16.66.254 1 .117.427.557.678.983.562.426-.117.677-.557.56-.983zm-.652-3.96c-.006-.322.003-.628.028-.917.037-.44-.29-.827-.73-.864-.44-.037-.827.29-.864.73-.03.346-.04.707-.032 1.083.01.44.375.79.816.782.442-.01.792-.375.783-.816zm.98-3.517l.16-.17c.118-.12.246-.228.384-.328.358-.26.438-.76.18-1.117-.26-.358-.76-.438-1.118-.18-.206.15-.4.314-.578.493l-.238.256c-.29.334-.252.84.082 1.128.334.29.84.252 1.128-.082zm3.215-1.3c.292-.013.6-.013.923.003.44.02.816-.32.837-.76.02-.442-.32-.817-.76-.838-.374-.018-.732-.018-1.077-.002-.44.02-.782.396-.76.838.02.442.396.783.838.76zm3.93.47c.304.074.616.156.937.247.425.12.867-.126.988-.55.12-.426-.126-.868-.55-.99-.34-.095-.673-.183-.998-.262-.43-.104-.862.16-.966.59-.104.428.16.86.59.965h-.002zm3.878 1.237l.913.36c.41.168.876-.03 1.043-.438.166-.41-.03-.877-.44-1.044l-.945-.374c-.413-.158-.875.048-1.033.46-.158.414.048.876.46 1.034zm3.8 1.636l.892.43c.397.193.876.03 1.07-.368.194-.397.03-.876-.367-1.07l-.91-.438c-.4-.19-.877-.018-1.066.382-.19.398-.018.875.382 1.064zm3.734 1.89l.87.472c.388.213.875.07 1.087-.316.213-.388.07-.875-.316-1.087l-.885-.48c-.39-.21-.874-.064-1.083.326-.21.388-.063.873.327 1.082zm3.654 2.054l.856.506c.38.226.87.102 1.097-.277.226-.38.102-.87-.277-1.097l-.866-.513c-.38-.224-.87-.096-1.095.285-.224.38-.096.87.285 1.095zm3.59 2.18l.843.53c.373.238.867.128 1.104-.245.237-.373.127-.867-.246-1.104l-.85-.537c-.373-.234-.867-.12-1.102.254-.235.374-.122.868.253 1.103zm3.537 2.28l.83.552c.367.245.864.146 1.11-.22.246-.368.147-.865-.22-1.11l-.836-.557c-.368-.244-.864-.143-1.108.226-.244.368-.143.864.226 1.108zm3.377 2.284l.82.57c.36.252.86.163 1.113-.2.253-.362.164-.86-.2-1.114l-.823-.572c-.364-.25-.862-.16-1.113.204-.25.364-.16.862.205 1.113zM68 52.224l.808.583c.358.26.858.178 1.117-.18.26-.358.178-.858-.18-1.117l-.814-.587c-.358-.257-.858-.175-1.115.184-.257.36-.175.86.184 1.116zm3.388 2.472l.8.595c.354.264.855.192 1.12-.162.264-.354.192-.855-.162-1.12l-.804-.598c-.355-.263-.856-.19-1.12.166-.262.355-.188.856.167 1.12h-.002zm3.35 2.52l.105.08c.35.27.853.202 1.12-.15.27-.35.202-.852-.15-1.12l-.106-.082c-.35-.268-.853-.2-1.12.15-.27.35-.202.853.15 1.12v.002zM159.926 142.393l.602.792c.267.352.77.42 1.12.155.353-.267.422-.77.156-1.12l-.605-.797c-.27-.35-.77-.42-1.122-.15-.35.267-.42.77-.15 1.12h-.002zm2.517 3.35l.59.8c.263.356.763.433 1.12.17.355-.26.432-.76.17-1.117l-.594-.806c-.264-.355-.765-.43-1.12-.167-.355.263-.43.764-.167 1.12zm2.466 3.386l.577.81c.256.36.755.444 1.115.188s.445-.755.19-1.115l-.582-.816c-.257-.36-.757-.442-1.116-.185-.36.257-.442.757-.185 1.116zm2.404 3.422l.563.82c.25.366.747.46 1.112.21.364-.248.458-.746.21-1.11l-.568-.83c-.25-.363-.75-.455-1.113-.204-.365.25-.457.75-.206 1.113v.002zm2.34 3.473l.545.833c.24.37.735.475 1.106.234.37-.24.475-.736.234-1.107l-.55-.84c-.243-.37-.74-.472-1.108-.23-.37.244-.47.74-.228 1.11zm2.255 3.517l.523.847c.23.376.724.493 1.1.262.377-.23.494-.724.263-1.1l-.53-.856c-.233-.375-.726-.49-1.1-.256-.376.234-.49.727-.257 1.102zm2.156 3.577l.496.86c.22.384.708.517 1.09.298.385-.22.518-.708.3-1.09l-.503-.873c-.223-.382-.713-.51-1.095-.29-.382.223-.51.713-.29 1.095zm2.03 3.643l.458.878c.203.394.685.548 1.078.345.393-.203.547-.685.344-1.078l-.467-.893c-.208-.39-.692-.54-1.083-.332-.39.207-.54.69-.332 1.082zm1.852 3.718l.408.9c.18.404.652.586 1.056.406.404-.18.586-.652.406-1.056l-.42-.923c-.185-.4-.66-.575-1.06-.39-.402.187-.576.662-.39 1.063zm1.6 3.818c.117.313.226.62.328.923.142.42.597.643 1.015.5.42-.14.643-.596.5-1.014-.106-.315-.22-.636-.34-.962-.153-.414-.613-.626-1.028-.473-.414.154-.626.614-.473 1.03v-.002zm1.175 3.923c.07.325.13.64.178.943.07.436.482.733.918.663.436-.07.733-.48.663-.917-.052-.333-.117-.675-.192-1.025-.093-.432-.518-.707-.95-.614-.432.094-.707.52-.614.95zm.293 3.918c-.038.308-.095.595-.17.862-.12.425.128.867.553.987.424.12.866-.128.986-.553.098-.347.17-.714.218-1.1.054-.438-.257-.838-.696-.892-.438-.054-.838.257-.892.696zm-1.673 2.955c-.226.14-.475.258-.75.354-.416.147-.634.604-.487 1.02.147.418.604.636 1.02.49.38-.135.734-.302 1.06-.503.375-.232.49-.725.26-1.1-.233-.377-.726-.493-1.102-.26zm-3.624.65c-.302-.022-.614-.054-.94-.1-.437-.06-.84.244-.902.682-.06.438.244.842.682.903.36.05.71.087 1.05.11.44.03.823-.303.853-.744.03-.44-.303-.823-.744-.853v.002zm-4.016-.79c-.304-.09-.614-.188-.93-.293-.42-.14-.873.09-1.012.51-.14.42.09.87.51 1.01.332.11.658.212.978.307.424.125.87-.116.994-.54.125-.424-.116-.87-.54-.994zm-3.81-1.37l-.907-.387c-.405-.177-.876.01-1.053.414-.177.405.01.876.414 1.053l.935.397c.408.17.876-.025 1.045-.433.17-.408-.025-.876-.433-1.045zm-3.792-1.733l-.884-.444c-.394-.2-.875-.044-1.076.35-.2.393-.044.874.35 1.075l.9.454c.397.196.877.033 1.073-.363.196-.395.033-.875-.363-1.07zm-3.705-1.946l-.865-.484c-.385-.217-.873-.082-1.09.303-.217.385-.082.873.303 1.09l.878.49c.387.215.873.075 1.087-.312.214-.386.074-.872-.313-1.086zm-3.637-2.1l-.85-.515c-.378-.23-.87-.112-1.1.266-.23.377-.11.87.267 1.1l.86.52c.38.226.87.103 1.1-.275.226-.378.103-.87-.275-1.097h-.002zm-3.573-2.214l-.838-.538c-.372-.24-.867-.134-1.107.237-.24.37-.134.865.237 1.105l.846.543c.372.238.867.13 1.105-.244.24-.372.13-.867-.243-1.105zm-3.44-2.253l-.826-.557c-.365-.248-.862-.152-1.11.213-.248.366-.152.863.213 1.11l.832.562c.367.246.864.148 1.11-.22.246-.366.148-.863-.22-1.11l.002.002zm-3.438-2.355l-.816-.573c-.36-.256-.86-.17-1.115.192-.256.36-.17.86.192 1.115l.82.577c.363.253.862.165 1.115-.197s.165-.86-.197-1.114zm-3.41-2.427l-.806-.587c-.357-.26-.857-.183-1.118.174-.26.357-.183.857.174 1.118l.81.59c.36.26.86.18 1.118-.178.26-.358.18-.858-.178-1.117zm-3.38-2.49l-.797-.6c-.353-.265-.854-.194-1.12.158-.266.353-.195.854.157 1.12l.802.602c.354.265.855.193 1.12-.16.265-.355.193-.856-.16-1.12zm-3.335-2.532l-.79-.61c-.35-.27-.852-.207-1.122.142-.27.35-.207.852.142 1.122l.794.613c.35.27.85.204 1.12-.146.27-.35.205-.852-.145-1.122zm-3.31-2.583l-.783-.62c-.346-.275-.85-.217-1.124.13-.275.345-.217.848.13 1.123l.785.622c.347.274.85.215 1.124-.132.274-.347.215-.85-.132-1.124zm-3.28-2.623l-.776-.63c-.344-.278-.848-.226-1.126.117-.28.343-.227.847.116 1.125l.778.63c.343.278.847.225 1.125-.12.278-.342.225-.846-.12-1.124zm-3.25-2.658l-.768-.638c-.34-.282-.844-.236-1.127.104-.282.34-.236.844.104 1.127l.77.64c.34.28.846.233 1.127-.108.283-.34.235-.845-.106-1.126zm-3.22-2.693l-.762-.645c-.337-.286-.842-.244-1.128.092-.286.337-.244.842.092 1.128l.765.647c.338.284.842.24 1.127-.096.284-.338.24-.842-.096-1.127z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M123.786 130.15c.362 1.358.548 2.764.548 4.195 0 8.97-7.28 16.24-16.262 16.24s-16.262-7.27-16.262-16.24c0-8.97 7.28-16.24 16.262-16.24 2.854 0 5.6.735 8.027 2.113.287.164.653.063.817-.225.164-.288.063-.654-.225-.818-2.606-1.48-5.556-2.27-8.62-2.27-9.643 0-17.46 7.81-17.46 17.44 0 9.634 7.817 17.44 17.46 17.44 9.645 0 17.463-7.807 17.463-17.44 0-1.535-.2-3.045-.588-4.503-.085-.32-.414-.51-.734-.425-.32.085-.51.414-.425.734h-.002z", :fill => "#FD336E"}
                    %path#Shape{:d => "M108.07 123.82c-5.82 0-10.538 4.712-10.538 10.525 0 5.813 4.72 10.525 10.54 10.525 5.82 0 10.538-4.712 10.538-10.525 0-5.813-4.72-10.525-10.54-10.525", :fill => "#314768"}
                    %path#Shape{:d => "M102.447 133.228l4.743 4.736c.313.312.82.312 1.13 0 .313-.314.313-.82 0-1.132l-4.743-4.736c-.313-.312-.82-.312-1.13 0-.313.314-.313.82 0 1.132z", :fill => "#FD336E"}
                    %path#Shape{:d => "M108.32 137.964l13.49-13.472c.313-.312.313-.82 0-1.13-.31-.314-.818-.314-1.13-.002l-13.49 13.472c-.313.312-.313.82 0 1.13.31.314.818.314 1.13.002z", :fill => "#FD336E"}
                    %path#Shape{:d => "M22.306 84.61l-13.51 3.95-.43.127v5.643c0 6.212 2.61 11.32 6.943 15.382 1.51 1.416 3.127 2.6 4.746 3.567.567.338 1.095.625 1.57.862.288.144.497.24.613.29l.235.1.236-.1c.117-.05.324-.147.61-.29.473-.24.997-.526 1.56-.865 1.61-.967 3.217-2.154 4.72-3.57 4.307-4.065 6.9-9.175 6.9-15.386v-5.826l-.437-.123-13.427-3.762-.165-.046-.164.048zm.337 1.152l-.33.002 13.427 3.763-.438-.578v5.37c0 5.85-2.44 10.66-6.525 14.514-1.435 1.354-2.974 2.49-4.513 3.415-.537.322-1.036.596-1.482.82l-.544.26h.473l-.547-.26c-.45-.225-.95-.498-1.49-.82-1.55-.925-3.098-2.06-4.542-3.413-4.108-3.85-6.564-8.657-6.564-14.506V89.14l-.432.576 13.51-3.95v-.002z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M19.727 98.612l1.795 1.68c.154.144.392.144.546 0l3.205-3c.16-.15.17-.403.02-.564-.152-.16-.404-.17-.565-.02l-3.205 3h.546l-1.796-1.68c-.16-.15-.414-.14-.564.02-.15.16-.142.414.02.564h-.003z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M27.6 98.5c0 2.817-2.283 5.1-5.1 5.1-2.817 0-5.1-2.283-5.1-5.1 0-2.817 2.283-5.1 5.1-5.1 2.817 0 5.1 2.283 5.1 5.1zm.8 0c0-3.258-2.64-5.9-5.9-5.9-3.257 0-5.898 2.642-5.898 5.9 0 3.258 2.64 5.9 5.9 5.9 3.257 0 5.898-2.642 5.898-5.9zM198.865 115.825c1.047 0 1.982.854 1.982 1.817 0 1.003-.825 1.827-1.83 1.827h-.31c-.33 0-.6.268-.6.6 0 .33.27.6.6.6h.31c1.668 0 3.03-1.36 3.03-3.028 0-1.65-1.495-3.017-3.182-3.017h-8.08c-.332 0-.6.27-.6.6 0 .33.268.6.6.6h8.08z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M198.707 120.67c.78 0 1.1.542 1.1 1.826 0 1.003-.826 1.827-1.83 1.827h-.534c-.33 0-.6.27-.6.6 0 .33.27.6.6.6h.533c1.668 0 3.03-1.36 3.03-3.027 0-1.86-.684-3.027-2.3-3.027-.33 0-.6.268-.6.6 0 .33.27.6.6.6z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M198.764 127.35c0 1.003-.825 1.827-1.83 1.827l-.372.588.372.612v-1.2 1.2c1.668 0 3.03-1.36 3.03-3.027 0-1.766-.898-3.027-2.522-3.027-.33 0-.6.27-.6.6 0 .33.27.6.6.6.857 0 1.322.653 1.322 1.827zM171.64 125.202c0-3.217 1.31-5.935 3.632-7.526.273-.187.343-.56.156-.834-.187-.273-.56-.343-.834-.156-2.664 1.825-4.154 4.918-4.154 8.516 0 3.712 1.98 7.185 5.1 9.1.283.173.653.085.826-.198.173-.282.085-.652-.198-.825-2.768-1.7-4.528-4.787-4.528-8.078z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M197.02 130.377c.763 0 1.05.514 1.05 1.827 0 1.022-.906 1.962-1.893 1.962l-9.445.186c-4.936 0-8.987-4.305-8.987-9.43 0-3.766 1.792-6.72 4.945-8.117 2.573-1.157 4.198-3.788 2.994-6.675-.85-2.038-.836-2.726.037-3.346.798-.565 1.967-.385 2.76.522 2.263 2.262 2.69 5.232 1.744 7.705-.118.31.037.657.346.776.31.118.656-.037.775-.346 1.104-2.89.605-6.36-1.99-8.952-1.157-1.33-3.013-1.614-4.328-.682-1.466 1.04-1.49 2.292-.45 4.787.91 2.185-.333 4.2-2.376 5.118-3.597 1.595-5.654 4.987-5.654 9.215 0 5.77 4.57 10.63 10.2 10.63l9.444-.187c1.648 0 3.08-1.488 3.08-3.162 0-1.888-.635-3.027-2.25-3.027-.33 0-.6.268-.6.6 0 .33.27.6.6.6v-.003zM174.3 57.5l5.168-6.638.01.056 4.543 4.536v.058l-6.59 5.113c-.262.203-.31.58-.106.842.203.262.58.31.842.106l6.647-5.162c.542-.533.542-1.32.056-1.805l-4.543-4.536c-.485-.486-1.272-.486-1.757 0l-5.218 6.69c-.204.262-.157.64.105.843.26.204.638.157.842-.105zM169.155 68.89l-5.17 6.638-.01-.056-4.542-4.536v-.058l6.59-5.113c.262-.203.31-.58.106-.842-.204-.262-.58-.31-.843-.106l-6.646 5.162c-.54.533-.54 1.32-.055 1.805l4.542 4.536c.485.486 1.272.486 1.757 0l5.22-6.692c.203-.26.156-.638-.106-.842-.26-.204-.638-.157-.842.105zM177.43 65.765l6.647 5.162-.056.01-4.54 4.535h-.062l-5.12-6.582c-.203-.26-.58-.308-.84-.105-.262.204-.31.58-.106.842l5.17 6.638c.534.54 1.32.54 1.805.056l4.543-4.536c.486-.485.486-1.272 0-1.757l-6.702-5.212c-.262-.203-.64-.156-.842.106-.203.263-.156.64.106.843v.002zM166.022 60.625l-6.646-5.162.056-.008 4.543-4.537h.06l5.12 6.582c.204.26.58.308.842.105.26-.204.308-.58.105-.842l-5.17-6.637c-.533-.54-1.32-.54-1.805-.056l-4.542 4.536c-.486.484-.486 1.27 0 1.756l6.702 5.212c.262.203.64.156.842-.106.202-.262.155-.64-.107-.842zM184.357 60.608c.505 1.707.506 3.468 0 5.173-.094.32.087.653.405.747.318.094.652-.087.746-.405.57-1.928.57-3.926 0-5.855-.094-.318-.428-.5-.746-.405-.318.094-.5.428-.405.746zM169.138 50.7c1.68-.496 3.416-.504 5.098-.022.32.09.65-.093.742-.412.09-.32-.093-.65-.412-.742-1.902-.544-3.87-.535-5.77.026-.317.094-.498.428-.404.746.094.318.428.5.746.405zM159.404 66.1c-.7-1.77-.752-3.605-.155-5.386.104-.314-.065-.654-.38-.76-.313-.105-.653.064-.76.378-.687 2.05-.626 4.178.178 6.21.122.308.47.46.78.337.307-.123.458-.472.336-.78zM174.316 75.81c-1.707.504-3.47.504-5.178 0-.318-.095-.652.086-.745.404-.094.318.087.652.405.745 1.93.57 3.93.57 5.858 0 .318-.095.5-.43.405-.746-.093-.318-.427-.5-.744-.405z", :fill => "#1E96C7"}
                    %path#Shape{:d => "M174.85 66.313c-1.725 1.723-4.522 1.723-6.246 0-1.724-1.722-1.724-4.514 0-6.236 1.725-1.723 4.522-1.723 6.246 0 1.724 1.722 1.724 4.514 0 6.236zm.848.85c2.194-2.192 2.194-5.744 0-7.935-2.193-2.19-5.75-2.19-7.942 0-2.194 2.19-2.194 5.743 0 7.934 2.193 2.19 5.75 2.19 7.942 0z", :fill => "#1E96C7"}
          .col-md-7
            %h2 Aligosa cho Trung tâm y tế
            %h4 Được phát triển chuyên biệt phục vụ riêng cho các nhu cầu của Trung tâm y tế
            %a.btn.btn-static-primary{:href => "/enterprise"} Tìm hiểu về gói dịch vụ
        .spacer35
    .container.container-cta
      .inner-container
        .col-md-12
          .col-md-6
            %h3 Bắt đầu miễn phí ngay hôm này
            %p
              Đừng chờ đợi! Hãy thử Aligosa ngày! Chỉ mất 5 phút.
              %span.clearfix
              Sử dụng Aligosa miễn phí trong 14 ngày
          .col-md-6
            .spacer60
            %a.btn.btn-static-primary.p-small{:href => "/signup"} BẮT ĐẦU DÙNG THỬ
            .row
              %a.link{:href => "/enterprise/demo"} Tôi muốn đặt lịch demo sản phẩm với chuyên viên
