%body
  .blurred-dashboard.clear-page
    .text-center.dark
      %a{:href => "/"}
        %img{:alt => "Aligosaa504x160 dark", :height => "82.5", :src => asset_path('aligosa504x106.png'), :width => "260"}/
      %h1.h3 Quản lý theo cách của bạn bằng công cụ của chúng tôi
      .spacer20
    .container
      %section.m400.m-l-r-auto.fill-white
        .panel-heading
          %h2.text-center Quên mật khẩu?
        .panel-body
          = form_for(@user, url: password_reset_path(params[:id])) do |f|
            %p Mời bạn nhập mật khẩu mới
            %br/
            = hidden_field_tag :email, @user.email
            .form-group.email.optional.user_email
              .input-group
                %span.input-group-addon
                  %i.fa.fa-lock.icon-fw
                = f.password_field :password, class: 'form-control', placeholder: 'Nhập mật khẩu mới'
            .form-group.email.optional.user_email
              .input-group
                %span.input-group-addon
                  %i.fa.fa-lock.icon-fw
                = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Nhập lại mật khẩu mới'
            .spacer20
            %a.btn.btn-default.btn-small{:href => "/login"} Quay lại đăng nhập
            %input.btn.btn-default.pull-right{:name => "commit", :type => "submit", :value => "Đặt mật khẩu mới"}/