%body
  .blurred-dashboard.clear-page
    .text-center.dark
      %a{:href => "/"}
        %img{:alt => "Aligosaa504x160 dark", :height => "82.5", :src => asset_path('aligosa504x106.png'), :width => "260"}/
      %h1.h3 Quản lý theo cách của bạn bằng công cụ của chúng tôi
      .spacer20
    .container
      %section.m400.m-l-r-auto.fill-white
        .panel-heading
          %h2.text-center Quên mật khẩu?
        .panel-body
          = form_for(:password_reset, url: password_resets_path) do |f|
            %p Đừng lo! Chỉ cần bạn nhập email vào, chúng tôi sẽ gửi cho bạn hướng dẫn lấy lại mật khẩu.
            %br/
            .form-group.email.optional.user_email
              .input-group
                %span.input-group-addon
                  %i.fa.fa-envelope-o.icon-fw
                = f.email_field :email, class: 'string email required form-control', placeholder: 'Nhập Email'
            .spacer20
            %a.btn.btn-default.btn-small{:href => "/login"} Quay lại đăng nhập
            %input.btn.btn-default.pull-right{:name => "commit", :type => "submit", :value => "Lấy lại mật khẩu"}/