%body.blank
.login-content
  / Main content
  .lc-block
    .container-center.animated.slideInDown
      .panel.panel-filled
        .panel-body
          = form_for(:password_reset, url: password_resets_path) do |f|
            .input-group.m-b-20
              %span.input-group-addon
                %i.fa.fa-envelope
              .fg-line
                = f.email_field :email, class: 'form-control', placeholder: 'Nhập Email'
            %div
              = button_tag(type: 'submit', class: "btn btn-default btn-float btn-login") do
                %i.zmdi.zmdi-arrow-forward