.showcase-4
  .container.container-overview
    .inner-container
      %ul.pricing--overview-list
        %li.list-item.text-center
          %a{:href => "/features"}
            %span.item-icon
              %img{:src => asset_path("icon-performances.svg")}/
            %span.item-title Sản phẩm
            %span.item-desc vượt trồi
        %li.list-item.text-center
          %a{:href => "/documentation/faq"}
            %span.item-icon
              %img{:src => asset_path("icon-screen.svg")}/
            %span.item-title Hỗ trợ
            %span.item-desc trên mọi thiết bị
        %li.list-item.text-center
          %a{:href => "/documentation/faq"}
            %span.item-icon
              %img{:src => asset_path("icon-global.svg")}/
            %span.item-title Sử dụng
            %span.item-desc bất kỳ đâu
        %li.list-item.text-center
          %a{:href => "/documentation"}
            %span.item-icon
              %img{:src => asset_path("icon-buoy.svg")}/
            %span.item-title Thông tin
            %span.item-desc hướng dẫn
