.showcase-3
  .row.spacer40
  .container.container-premium
    .row.spacer60
    .row
      %h2.text-center.title
        Lựa chọn đặc biệt
        %span.clearfix
        Chỉ dành cho khách hàng sử dụng gói Trung tâm y tế
    .row.spacer40
    .row.flex-container.hidden-md.hidden-sm.hidden-xs
      .al-card.small-card
        .col-md-3
          %span.card-icon
            %svg{:height => "83px", :version => "1.1", :viewbox => "0 0 104 83", :width => "104px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %title icon-backup copy + icon-provider-redundancy copy
              %desc Created with Sketch.
              %defs
              %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-linecap" => "round", "stroke-width" => "1"}
                %g#enterprise-v1-copy-3{"stroke-width" => "2.5266055", :transform => "translate(-185.000000, -3785.000000)"}
                  %g#yearly-copy{:transform => "translate(162.000000, 3738.000000)"}
                    %g{:id => "icon-backup-copy-+-icon-provider-redundancy-copy", :transform => "translate(24.000000, 49.000000)"}
                      %g#icon-backup-copy{:transform => "translate(23.394495, 0.000000)"}
                        %polyline#Stroke-33{:points => "9.80828257 36.4063515 8.63846422 44.8412518 0.29813945 43.6581682", :stroke => "#1E96C7"}
                        %path#Stroke-35{:d => "M8.66427771,44.8151456 C8.02967862,44.2551186 7.4228722,43.6635768 6.84638505,43.0430755 C2.6008456,38.4717224 0.000126330275,32.3190916 0.000126330275,25.5527736 C0.000126330275,11.4400943 11.3121603,0.000212938005 25.2661814,0.000212938005 C39.2202025,0.000212938005 50.5322364,11.4400943 50.5322364,25.5527736 C50.5322364,29.4254985 49.6803508,33.0970047 48.1557567,36.3860835", :stroke => "#1E96C7"}
                        %path#Stroke-37{:stroke => "#FD336E"}
                        %path#Stroke-39{:d => "M27.3715596,28.5336927 L33.6880734,33.6442049", :stroke => "#FD336E"}
                        %path#Stroke-41{:d => "M28.2137615,25.9784367 C28.2137615,27.8599569 26.705378,29.3854447 24.8449541,29.3854447 C22.9845303,29.3854447 21.4761468,27.8599569 21.4761468,25.9784367 C21.4761468,24.0969164 22.9845303,22.5714286 24.8449541,22.5714286 C26.705378,22.5714286 28.2137615,24.0969164 28.2137615,25.9784367 L28.2137615,25.9784367 Z", :stroke => "#FD336E"}
                      %g#icon-provider-redundancy-copy{:stroke => "#1E96C7", "stroke-linejoin" => "round", :transform => "translate(0.000000, 43.261905)"}
                        %path#Stroke-238{:d => "M101.580247,7.23270975 L101.580247,34.0362812 L80.9380494,28.6253634 C79.4277778,28.1050337 77.8029136,28.0314303 76.2527654,28.4134875 L47.5928642,35.4755904 C45.8525679,35.9223166 44.0169877,35.7921278 42.3547654,35.103744 L0.419753086,16.5926871 C0.419753086,16.5926871 -0.372740741,4.242197 15.539679,8.4860958 C31.0268889,12.6163985 36.3506173,14.1939802 36.3506173,14.1939802 C36.3506173,14.1939802 67.7599012,-7.51903997 86.2210617,3.35002098 C92.6953333,7.16165901 101.580247,7.23270975 101.580247,7.23270975 L101.580247,7.23270975 Z"}
                        %path#Stroke-240{:d => "M60.3220025,18.1137259 L50.1518049,20.3809677 C50.1518049,20.3809677 36.3507432,24.1092169 36.3507432,13.9808705"}
        .col-md-9.pull-right
          %h4.card-title Hỗ trợ đặc biệt
          %p.card-text Bạn cần thêm các tính năng mới? Hỗ trợ đặc biệt sẽ đảm bảo luôn có người lắng nghe nhu cầu của bạn và cập nhật trong thời gian sớm nhất
      .al-card.small-card
        .col-md-3
          %span.card-icon
            %svg{:height => "88px", :version => "1.1", :viewbox => "0 0 89 88", :width => "89px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %title icon-machines-redundancy
              %desc Created with Sketch.
              %defs
              %g#Page-1{:fill => "none", "fill-rule" => "evenodd", :stroke => "none", "stroke-width" => "1"}
                %g#enterprise-v1-copy-3{:transform => "translate(-751.000000, -3782.000000)"}
                  %g#yearly{:transform => "translate(720.000000, 3738.000000)"}
                    %g#icon-machines-redundancy{:transform => "translate(32.000000, 46.000000)"}
                      %path#Fill-187{:d => "M21.1434263,36.9017774 L21.1434263,18.7277422 C21.1434263,14.3787202 30.2701076,10.8530198 43.3266932,10.8530198 C56.3832789,10.8530198 65.5099602,14.3787202 65.5099602,18.7277422 L65.5099602,36.3766804 L65.5099602,68.5575729 C65.5099602,72.9065949 56.3832789,76.4322954 43.3266932,76.4322954 C30.2701076,76.4322954 21.1434263,72.9065949 21.1434263,68.5575729 L21.1434263,36.9017774 Z", :fill => "#F2F9FB"}
                      %path#Stroke-189{:d => "M23.5697211,71.0058548 C23.5697211,71.5797899 23.1042191,72.0449649 22.5298805,72.0449649 C21.9555418,72.0449649 21.4900398,71.5797899 21.4900398,71.0058548 C21.4900398,70.4319197 21.9555418,69.9667447 22.5298805,69.9667447 C23.1042191,69.9667447 23.5697211,70.4319197 23.5697211,71.0058548 L23.5697211,71.0058548 Z", :stroke => "#FD336E", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-191{:d => "M23.5697211,50.9163934 C23.5697211,51.4903286 23.1042191,51.9555035 22.5298805,51.9555035 C21.9555418,51.9555035 21.4900398,51.4903286 21.4900398,50.9163934 C21.4900398,50.3424583 21.9555418,49.8772834 22.5298805,49.8772834 C23.1042191,49.8772834 23.5697211,50.3424583 23.5697211,50.9163934 L23.5697211,50.9163934 Z", :stroke => "#FD336E", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-193{:d => "M72.4422311,33.9442623 C72.4422311,39.6832672 60.5554661,44.335363 43.3266932,44.335363 C26.0979203,44.335363 14.2111554,39.6832672 14.2111554,33.9442623", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-195{:d => "M72.4422311,54.0337237 C72.4422311,59.7727286 60.5554661,64.4248244 43.3266932,64.4248244 C26.0979203,64.4248244 14.2111554,59.7727286 14.2111554,54.0337237", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-197{:d => "M23.5697211,31.5196721 C23.5697211,32.0936073 23.1042191,32.5587822 22.5298805,32.5587822 C21.9555418,32.5587822 21.4900398,32.0936073 21.4900398,31.5196721 C21.4900398,30.945737 21.9555418,30.4805621 22.5298805,30.4805621 C23.1042191,30.4805621 23.5697211,30.945737 23.5697211,31.5196721 L23.5697211,31.5196721 Z", :stroke => "#FD336E", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-199{:d => "M72.4422311,13.8548009 C72.4422311,19.5938059 60.5554661,24.2459016 43.3266932,24.2459016 C26.0979203,24.2459016 14.2111554,19.5938059 14.2111554,13.8548009", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-201{:d => "M23.5697211,31.5196721 C23.5697211,32.0936073 23.1042191,32.5587822 22.5298805,32.5587822 C21.9555418,32.5587822 21.4900398,32.0936073 21.4900398,31.5196721 C21.4900398,30.945737 21.9555418,30.4805621 22.5298805,30.4805621 C23.1042191,30.4805621 23.5697211,30.945737 23.5697211,31.5196721 L23.5697211,31.5196721 Z", :stroke => "#FD336E", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-203{:d => "M14.2111554,74.123185 L14.2111554,34.6370023 L14.2111554,13.8548009 C14.2111554,8.11579602 26.0979203,3.46370023 43.3266932,3.46370023 C60.5554661,3.46370023 72.4422311,8.11579602 72.4422311,13.8548009 L72.4422311,33.9442623 L72.4422311,74.123185 C72.4422311,79.8621899 60.5554661,84.5142857 43.3266932,84.5142857 C26.0979203,84.5142857 14.2111554,79.8621899 14.2111554,74.123185 L14.2111554,74.123185 Z", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-205{:d => "M86.6533865,25.5736419 C86.6533865,28.6473294 82.5612669,31.3472838 75.8251793,32.8837812", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-207{:d => "M86.6533865,42.3148827 C86.6533865,45.3916877 82.5529482,48.0937202 75.8047291,49.6298713", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-209{:d => "M86.6533865,8.8324356 C86.6533865,11.9092405 82.5529482,14.6112731 75.8047291,16.1474241", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-211{:d => "M55.6728251,0.476362693 C57.7746896,0.27858541 60.0217853,0.173288923 62.3905422,0.173288923 C76.7476219,0.173288923 86.6534904,4.05020859 86.6534904,8.83253951 L86.6534904,25.5736419 L86.6534904,59.0561929 C86.6534904,62.1257241 82.5721159,64.9091536 75.8516259,66.4466901", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-213{:d => "M0.346544223,10.0475709 C1.31290279,12.5878487 5.15684701,14.7689407 10.9560382,16.0889569", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-215{:d => "M31.0879076,0.417860796 C28.986043,0.220083513 26.8585291,0.114787026 24.4897721,0.114787026 C10.1326924,0.114787026 0.346752191,3.9917067 0.346752191,8.77403761 L0.346752191,25.51514 L0.346752191,58.997691 C0.346752191,62.0672222 4.30854502,64.8506517 11.0286884,66.3881882", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-217{:d => "M0.346093625,26.7875302 C1.31071912,29.3253834 5.14669124,31.5047436 10.9358307,32.8254525", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
                      %path#Stroke-219{:d => "M0.346544223,43.5299834 C1.31290279,46.0702612 5.1565004,48.2513532 10.9560382,49.5713694", :stroke => "#1E96C7", "stroke-linecap" => "round", "stroke-width" => "2.7"}
        .col-md-9.pull-right
          %h4.card-title Máy chủ riêng biệt
          %p.card-text Đảm bảo tối đa hiệu năng hệ thống cũng như tránh các lỗi tiềm tàng có thể xảy ra. Khả năng khôi phục dữ liệu đơn giản và nhanh nhất
    .row.spacer120
