%div{:style => "position:relative;margin:0;padding:0;font-family: Roboto-Light,Roboto,Arial,sans-serif;font-size: 15px;line-height: 25px;"}
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", :style => "max-width: 900px;background-color: #2196F3!important;color: #ffffff", :align => "center"}
    %tr
      %td{:style => "text-align: justify;padding: 10px"}
        %h1{:style => "text-align: center;margin-top: 20px;margin-bottom:20px; font-size: 40px; font-weight: 600"}
          Aligosa
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", :style => "max-width: 900px;background-color: #ffffff!important;color: #2196F3;border-radius: 0px;z-index:5;border: 1px solid #2196F3", :align => "center"}
    %tr
      %td{:style => "text-align: justify;padding: 40px"}
        %h3{:style => "font-size: 20px; font-weight: 400;line-height: 20px"}
          Mời #{@user.name} xác nhận tài khoản email
        %br
        = link_to "Kích hoạt tài khoản", edit_account_activation_url(@user.activation_token, email: @user.email), :style => "border-radius: 2px;font-size: 15px; line-height: 15px; font-weight:500;padding: 15px 30px;text-decoration:none; text-transform: uppercase; margin: 60px 0px;background-color: #2196F3;color:#ffffff!important"
        %br
        %br
        %p{:style => "font-size: 13px; font-weight: 300;line-height: 15px"}
          Nếu bạn không thể click vào nút kích hoạt tài khoản bạn có thể truy cập vào đường dẫn dưới đây:
        %p{:style => "font-size: 15px; font-weight: 400;line-height: 15px;margin: 20px 0px"}= edit_account_activation_url(@user.activation_token,email: @user.email)
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", :style => "max-width: 900px;background-color: #2196F3!important;color: #ffffff;", :align => "center"}
    %tr
      %td{:style => "text-align: justify;padding: 20px 40px"}
        %p{:style => "font-size: 13px; font-weight: 300;line-height: 15px"}
          Nếu bạn không đăng ký tài khoản của hệ thống quản lý phòng khám online Aligosa tại Aligosa.com thì bạn có thể bỏ qua email này. Tài khoản không được kích hoạt sẽ tự động xóa sau 48 giờ.
        %p{:style => "font-size: 13px; font-weight: 300;line-height: 15px"}
          Nếu bạn có thêm câu hỏi gì bạn có thể liên lạc tới
        %p
          aligosasupport@gmail.com
