%section.evenbg
  .container
    .row
      .col-md-3
        = react_component 'demoform'
      .col-md-8.col-md-offset-1
        .row
          %h2.h1.underlined{:style => "margin-top: 0px;"} Vì sao Demo sản phẩm quan trọng?
        .spacer40
        %p Hoàn thiện bản thông tin đăng ký bên trái và chúng tôi sẽ liên lạc lại với bạn để lên lịch demo sản phẩm.
        %br/
        %p Sau khi bạn hoàn thành mẫu đăng ký, chúng tôi sẽ liên lạc và lên lịch demo sản phẩm sớm nhất có thể
        %br/
        %strong Chúng tôi sẽ giúp bạn:
        %br/
        %br/
        %ul
          %li Hiểu nhiệm vụ và các chức năng của Aligosa.
          %li Một ví dụ chạy thử để giúp bạn làm quen với các chức năng của Aligosa.
          %li Và cuối cùng sẽ giải thích cho bạn thấy vì sao Aligosa sẽ giúp bạn phát triển dịch vụ của mình tốt hơn!
        %br/
        %p Hẹn gặp lại!
