.footer
  .footer-info
    .container
      .row
        .col-md-3.col-sm-6
          
        .col-md-3.col-sm-6
          %a
            %strong HUBUNGI KAMI
          %br
          %a
            100-555-888
          %br
          %a
            hi@mamorae.com
        .col-md-4.col-sm-6
          %P
            %strong STAY IN TOUCH
          %input.footer-email-input{ type: "text", placeholder: "email@example.com" }
          %button.btn.btn-circle
            %span.glyphicon.glyphicon.glyphicon-chevron-right
          %br
          %p.social
            FOLLOW US
            %a.btn.btn-circle
              %i.fa.fa-facebook
            %a.btn.btn-circle
              %i.fa.fa-twitter
            %a.btn.btn-circle
              %i.fa.fa-instagram
  .footer-image
  .footer-copyright
    .container
      %p
        &copy; 2016 PT. MAMO RAE INDONESIA. All Rights Reserved.










