.container
  .navbar-header
    %button.navbar-toggle{ "data-target": "#navbar-main", "data-toggle": "collapse", type: "button" }
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse
    %ul.nav.navbar-nav.mamorae-nav
      %li.menu
        %a.navbar-brand{ href: '#' }
          jobs
      %li.menu
        %a.navbar-brand{ href: '#' }
          vouchers
    .center-logo
      %a.navbar-brand{ href: "/" }
        - if transparent
          //%img.header-logo{ src: asset_path("logo-sigle-color-white.png") }
        - else
          //%img.header-logo{ src: asset_path("logo_full_color.png") }
    %ul.nav.navbar-nav.navbar-right
      - if (1 < 0) #logged_in?
        %li.dropdown.menu
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = current_user.username
            %img.img-circle{ src: current_user.image_profile }
            %span.caret
          %ul.dropdown-menu
            - if current_user.is_buzzer?
              %li
                %a{ href: buzzer_profile_path(current_user) } Profile
              %li
                %a{ href: buzzer_profile_edit_path(current_user) } Settings
            - if current_user.is_merchant?
              %li
                %a{ href: merchant_profile_path(current_user) } Profile
              %li
                %a{ href: merchant_profile_edit_path(current_user) } Settings
            %li.divider{:role => "separator"}
            %li
              = link_to "Logout", logout_path, method: :delete
      - else
        %li.menu
          %a.navbar-brand{ href: '#' }
            login
        %li.menu
          %p.navbar-brand
            |
        %li.menu
          %a.navbar-brand{ href: '#' }
            sign up
