/ Header
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      #mobile-menu
        .left-nav-toggle
          %a{:href => "#"}
            %i.stroke-hamburgermenu
      %a.navbar-brand{:href => root_path}
        HELIA
        %span v.1.0
    #navbar.navbar-collapse.collapse
      .left-nav-toggle
        %a{:href => ""}
          %i.stroke-hamburgermenu
      %form.navbar-form.navbar-left
        %input.form-control{:placeholder => "Search data for analysis", :style => "width: 175px", :type => "text"}/
      %ul.nav.navbar-nav.navbar-right  
        %li.profil-link
          %a{:href => logout_path}
            %i.fa.fa-sign-out
        %li.profil-link
          %a{:href => "login.html"}
            %span.profile-address= @user.name
            %img.img-circle{:alt => "", :src => @station.logo.url}/
/ End header

/ 2nd Header Design
%header#header.clearfix
  %ul.h-inner
    %li.hi-trigger.ma-trigger{"data-ma-action" => "sidebar-open", "data-ma-target" => "#sidebar"}
      .line-wrap
        .line.top
        .line.center
        .line.bottom
    %li.hi-logo.hidden-xs
      %a{:href => "index.html"} Material Admin
    %li.pull-right
      %ul.hi-menu
        %li{"data-ma-action" => "search-open"}
          %a{:href => ""}
            %i.him-icon.zmdi.zmdi-search
        %li.dropdown
          %a{"data-toggle" => "dropdown", :href => ""}
            %span.him-label Messages
          .dropdown-menu.dropdown-menu-lg.pull-right
            .list-group.list-group-light
              .lg-header
                Messages
              .lg-body
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/1.jpg"}/
                  .media-body
                    .lgi-heading David Belle
                    %small.lgi-text Cum sociis natoque penatibus et magnis dis parturient montes
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/2.jpg"}/
                  .media-body
                    .lgi-heading Jonathan Morris
                    %small.lgi-text Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/3.jpg"}/
                  .media-body
                    .lgi-heading Fredric Mitchell Jr.
                    %small.lgi-text Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/4.jpg"}/
                  .media-body
                    .lgi-heading Glenn Jecobs
                    %small.lgi-text Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/4.jpg"}/
                  .media-body
                    .lgi-heading Bill Phillips
                    %small.lgi-text Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat
              %a.view-more.view-more-light{:href => ""} View All
        %li.dropdown.hidden-xs
          %a{"data-toggle" => "dropdown", :href => ""}
            %span.him-label Notification
          .dropdown-menu.dropdown-menu-lg.pull-right
            .list-group.list-group-light.him-notification
              .lg-header
                Notification
                %ul.actions
                  %li.dropdown
                    %a{"data-ma-action" => "clear-notification", :href => ""}
                      %i.zmdi.zmdi-check-all
              .lg-body
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/1.jpg"}/
                  .media-body
                    .lgi-heading David Belle
                    %small.lgi-text Cum sociis natoque penatibus et magnis dis parturient montes
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/2.jpg"}/
                  .media-body
                    .lgi-heading Jonathan Morris
                    %small.lgi-text Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/3.jpg"}/
                  .media-body
                    .lgi-heading Fredric Mitchell Jr.
                    %small.lgi-text Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/4.jpg"}/
                  .media-body
                    .lgi-heading Glenn Jecobs
                    %small.lgi-text Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque
                %a.list-group-item.media{:href => ""}
                  .pull-left
                    %img.lgi-img{:alt => "", :src => "img/profile-pics/4.jpg"}/
                  .media-body
                    .lgi-heading Bill Phillips
                    %small.lgi-text Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat
              %a.view-more.view-more-light{:href => ""} View Previous
        %li.dropdown.hidden-xs
          %a{"data-toggle" => "dropdown", :href => ""}
            %span.him-label Tasks
          .dropdown-menu.pull-right.dropdown-menu-lg
            .list-group.list-group-light
              .lg-header
                Tasks
              .lg-body
                .list-group-item
                  .lgi-heading.m-b-5 HTML5 Validation Report
                  .progress
                    .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "95", :role => "progressbar", :style => "width: 95%"}
                      %span.sr-only 95% Complete (success)
                .list-group-item
                  .lgi-heading.m-b-5 Google Chrome Extension
                  .progress
                    .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
                      %span.sr-only 80% Complete (success)
                .list-group-item
                  .lgi-heading.m-b-5 Social Intranet Projects
                  .progress
                    .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
                      %span.sr-only 20% Complete
                .list-group-item
                  .lgi-heading.m-b-5 Bootstrap Admin Template
                  .progress
                    .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%"}
                      %span.sr-only 60% Complete (warning)
                .list-group-item
                  .lgi-heading.m-b-5 Youtube Client App
                  .progress
                    .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
                    %span.sr-only 80% Complete (danger)
              %a.view-more.view-more-light{:href => ""} View All
        %li.dropdown
          %a{"data-toggle" => "dropdown", :href => ""}
            %span.him-label Settings
          %ul.dropdown-menu.dm-icon.pull-right
            %li.hidden-xs
              %a{"data-ma-action" => "fullscreen", :href => ""}
                %i.zmdi.zmdi-fullscreen
                Toggle Fullscreen
            %li
              %a{"data-ma-action" => "clear-localstorage", :href => ""}
                %i.zmdi.zmdi-delete
                Clear Local Storage
            %li
              %a{:href => ""}
                %i.zmdi.zmdi-face
                Privacy Settings
            %li
              %a{:href => ""}
                %i.zmdi.zmdi-settings
                Other Settings
  / Top Search Content
  .h-search-wrap
    .hsw-inner
      %i.hsw-close.zmdi.zmdi-arrow-left{"data-ma-action" => "search-close"}
      %input{:type => "text"}/
/2nd Header Design end