%body
  %header
    .background-img{:style => "background-image: url('assets/bg-header.jpg');"}
    .intro-content
      .row
        .col-md-4.col-md-push-8
          .project-details
            %span.project-name ProLife
            %span.project-description Ứng dụng quản lý phòng khám
            %hr.colored/
            %button.btn.btn-outline-light
              Tìm hiểu thêm
              %i.fa.fa-long-arrow-right.fa-fw
            %button.btn.btn-outline-light
              Đăng ký ngay
              %i.fa.fa-long-arrow-right.fa-fw
        .col-md-8.col-md-pull-4.hidden-xs
          %img.img-responsive.portfolio-image{:style => "width: 100%; max-height: 1000px", :alt => "", :src => "assets/tablet-screens.png"}/
        

