%body
  %header{:style => "background-image: url('assets/bg-header.jpg');"}
    .intro-content
      %img.img-responsive.img-centered{:alt => "", :src => "assets/preloader.gif"}/
      .brand-name Helia
      %hr.colored/
      .brand-name-subtext by Start Bootstrap
    .scroll-down
      %a.btn.page-scroll{:href => "#about"}
        %i.fa.fa-angle-down.fa-fw
