%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn.animated{:style => "visibility: visible; animation-name: fadeIn;"}
        %h1 Chúng tôi đảm bảo dữ liệu của bạn an toàn &amp; hữu ích
        %p ProLife Management là úng dụng web quản lý phòng khám tốt nhât.
        %hr.colored/
    .row.text-center.content-row
      .col-md-3.col-sm-6.wow.fadeIn.animated{"data-wow-delay" => ".2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"}
        .about-content
          %i.fa.fa-database.fa-4x
          %h3 Truy cập nhanh
          %p Chúng tôi cung cấp hệ thống với tốc độ truy xuất dữ liệu nhanh nhất, việc này giúp bạn có thể lấy được tất cả các thông tin về phòng khám của bạn chỉ trong một cái chớp mắt.
      .col-md-3.col-sm-6.wow.fadeIn.animated{"data-wow-delay" => ".4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;"}
        .about-content
          %i.fa.fa-edit.fa-4x
          %h3 Dễ dàng sử dụng
          %p Sản phẩm của chúng tôi có một giao diện thân thiện với người dùng. Điều này giúp người sử dụng thuận tiện hơn trong quá trình học cách sử dụng. Chugns tôi còn cung cấp đầy đủ các hướng dẫn sử dụng cho tất cả người dùng. Với các hướng dẫn này, các bạn có thể quen với hệ thống trong thời gian dưới 10 phút
      .col-md-3.col-sm-6.wow.fadeIn.animated{"data-wow-delay" => ".6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;"}
        .about-content
          %i.fa.fa-tablet.fa-4x
          %h3 Đa nền tảng
          %p Điều duy nhất bạn cần quan tâm khi sử dụng ứng dụng của chúng tôi là đường truyền internet vì hệ thống của chúng tôi có thể được sử dụng trên bất kỳ một thiết bị nào có thể truy cập internet.
      .col-md-3.col-sm-6.wow.fadeIn.animated{"data-wow-delay" => ".8s", :style => "visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;"}
        .about-content
          %i.fa.fa-thumbs-o-up.fa-4x
          %h3 Những điều tốt nhất
          %p Hệ thống được xây dựng nhằm cung cấp một giải pháp tốt nhất cho công việc quản lý phòng khám. Giờ đây bạn có thể không cần sử dụng các hệ thống sổ sách để ghi lại các thông tin khám bệnh nữa, tất cả các thông số đó có thể được truy xuất ở bất cứ đâu, bất kỳ thời gian nào trong ngày.
