%aside.cta-quote{:style => "background-image: url('assets/bg-aside.jpg');"}
  .container.wow.fadeIn.animated{:style => "visibility: visible; animation-name: fadeIn;"}
    .row
      .col-md-10.col-md-offset-1
        %span.quote
          Good
          %span.text-primary design
          is finding that perfect balance between the way something
          %span.text-primary looks
          and how it
          = succeed "." do
            %span.text-primary functions
        %hr.colored/
        %a.btn.btn-outline-light.page-scroll{:href => "#contact"} Let's take a look
