%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn.animated{:style => "visibility: visible; animation-name: fadeIn;"}
        %h1 We keep your data Safe &amp; Userful
        %p ProLife Management is the best web-based system for medication manager.
        %hr.colored/
    .row.text-center.content-row
      .col-md-3.col-sm-6.wow.fadeIn.animated{"data-wow-delay" => ".2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"}
        .about-content
          %i.fa.fa-database.fa-4x
          %h3 Fast access
          %p We provide an extreme fast access to database, this help you get all infomation that you need about your medication station in just a blink of an eye.
      .col-md-3.col-sm-6.wow.fadeIn.animated{"data-wow-delay" => ".4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;"}
        .about-content
          %i.fa.fa-edit.fa-4x
          %h3 Easy to Use
          %p Our product have good user interface. That make our system simple and clear to user. We also provide full-step tutorial for all user so you can be able to use the whole system in under 10 mins
      .col-md-3.col-sm-6.wow.fadeIn.animated{"data-wow-delay" => ".6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;"}
        .about-content
          %i.fa.fa-tablet.fa-4x
          %h3 Responsive
          %p The only thing that you need now is a good internet connection because our system can be use on any device, like tablet, MacBook, PC, even mobile phone that using Android or iOS can use this smoothly.
      .col-md-3.col-sm-6.wow.fadeIn.animated{"data-wow-delay" => ".8s", :style => "visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;"}
        .about-content
          %i.fa.fa-thumbs-o-up.fa-4x
          %h3 For the best
          %p System build for the best service that a manager software can provide. Now you can say goodbye to the desk with pc, instead of that you can put anything that you feel comfortable.
