%aside.cta-quote{:style => "background-image: url('assets/bg-aside.jpg');"}
  .container.wow.fadeIn.animated{:style => "visibility: visible; animation-name: fadeIn;"}
    .row
      .col-md-10.col-md-offset-1
        %span.quote
          Một
          %span.text-primary thiết kế tốt
          là phải tìm được sự cân bằng giữa  
          %span.text-primary vẻ bề ngoài
          và cách mà hệ thống
          = succeed "." do
            %span.text-primary hoạt động
        %hr.colored/
        %a.btn.btn-outline-light.page-scroll{:href => "#contact"} Xem qua một lượt
