%section#process.services
  .container
    .row.text-center
      .col-lg-12.wow.fadeIn.animated{:style => "visibility: visible; animation-name: fadeIn;"}
        %h2 Công việc của chúng tôi
        %hr.colored/
        %p Dưới đây là những công việc chúng tôi sẽ thực hiện thường xuyên để giúp hệ thống sẽ luôn là ứng dụng quản lý phòng khám tốt nhất.
    .row.content-row
      .col-md-4.wow.fadeIn.animated{"data-wow-delay" => ".2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;"}
        .media
          .pull-left
            %i.fa.fa-clipboard
          .media-body
            %h3.media-heading Nhận phản hồi
            %ul
              %li Từ hệ thống hỗ trợ khách hàng
              %li Từ đội ngũ nghiên cứu hệ thống
              %li Từ đội ngũ thiết kế hệ thống
              %li Từ đóng góp của người dùng
      .col-md-4.wow.fadeIn.animated{"data-wow-delay" => ".4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;"}
        .media
          .pull-left
            %i.fa.fa-pencil
          .media-body
            %h3.media-heading Cập nhật
            %ul
              %li Xem xét yếu tố cần thay đổi
              %li Thêm bớt các chức năng
              %li Tối ưu hóa hệ thống mới
              %li Sửa lỗi
      .col-md-4.wow.fadeIn.animated{"data-wow-delay" => ".6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;"}
        .media
          .pull-left
            %i.fa.fa-rocket
          .media-body
            %h3.media-heading Thực hiện
            %ul
              %li Deploy website
              %li Market product launch
              %li Collect UX data
              %li Quarterly maintenence
