%section.testimonials.bg-gray
  .container.wow.fadeIn.animated{:style => "visibility: visible; animation-name: fadeIn;"}
    .row
      .col-lg-10.col-lg-offset-1
        .row
          .col-lg-12
            %p.lead "Working with ProLife was both a valuable and rewarding experience."
            %hr.colored/
            %p.quote There is nothing like work without any doubt about how to make service become better. I used to worried about how to handle all work of my medical station but using ProLife help me save 30% time spend on scheduling and sumerize my work for better services. It also help me manager my medicine stock pretty good with the best advice on which type of medicine that i need for each week, when should i order medicine from supplier. - Doctor ABCD - From Hospital XXXXX
