%header#header.navbar.navbar-fixed-top
  .container
    .navbar-header
      %a.logo{:href => "/"}
        %img{:height => "48", :src => "https://www.algolia.com/static_assets/images/flat2/algolia/algolia256x80_dark-b5d00e91.png", :width => "140"}/
      %button.mobile-menu.navbar-toggle.collapsed{"data-target" => "#main-navigation-collapsed", "data-toggle" => "collapse", :type => "button"}
        %i.fa.fa-align-justify
        MENU
    %nav#main-navigation-collapsed.collapse.navbar-collapse
      %ul.nav.nav-pills.pull-left
        %li
          %a.active{"data-no-turbolink" => "true", :href => "/product"} Features
        %li
          %a{"data-no-turbolink" => "true", :href => "/pricing"} Pricing
        %li.dropdown.hidden-xs
          %a{"data-no-turbolink" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Enterprise
            %i.fa.fa-caret-down
          %ul.dropdown-menu
            %li
              %a{"data-no-turbolink" => "true", :href => "/enterprise"} Overview
            %li
              %a{"data-no-turbolink" => "true", :href => "/infra"} Infrastructure
            %li
              %a{"data-no-turbolink" => "true", :href => "/schedule-demo"} Schedule a Demo
            %li
              %a{"data-no-turbolink" => "true", :href => "/customers"} Customers
        %li.dropdown.hidden-xs
          %a{"data-no-turbolink" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Developer
            %i.fa.fa-caret-down
          %ul.dropdown-menu
            %li
              %a{"data-no-turbolink" => "true", :href => "/doc"} Documentation
            %li
              %a{"data-no-turbolink" => "true", :href => "/integrations"} Integrations
            %li
              %a{"data-no-turbolink" => "true", :href => "https://status.algolia.com"} API Status
            %li
              %a{"data-no-turbolink" => "true", :href => "/changes"} Change Log
            %li
              %a{"data-no-turbolink" => "true", :href => "https://community.algolia.com"}
                %img{:src => "https://www.algolia.com/static_assets/images/svg/logo-community-sm-86de0024.svg", :width => "32"}/
                Community
        %li.visible-xs
          %a{"data-no-turbolink" => "true", :href => "/infra"} Infrastructure
        %li.visible-xs
          %a{"data-no-turbolink" => "true", :href => "/customers"} Customers
        %li.visible-xs
          %a{"data-no-turbolink" => "true", :href => "/doc"} Documentation
        %li.visible-xs
          %a{"data-no-turbolink" => "true", :href => "/integrations"} Integrations
        %li.visible-xs
          %a{"data-no-turbolink" => "true", :href => "https://status.algolia.com"} API Status
        %li.visible-xs
          %a{"data-no-turbolink" => "true", :href => "/changes"} Change Log
        %li.visible-xs
          %a{"data-no-turbolink" => "true", :href => "https://community.algolia.com"}
            %img{:src => "https://www.algolia.com/static_assets/images/svg/logo-community-sm-86de0024.svg", :width => "32"}/
            Community
      %ul.nav.nav-pills.pull-right.al-wait-current-user{:style => "display: block;"}
        %li.al-hidden-current-user{:style => "display: list-item;"}
          %a{"data-no-turbolink" => "true", :href => "/users/sign_in"} Login
        %li.header-separator.hidden-xs.hidden-sm.al-hidden-current-user{:style => "display: list-item;"} or
        %li.header-registration.al-hidden-current-user{:style => "display: list-item;"}
          %a{"data-no-turbolink" => "true", :href => "/users/sign_up"} Sign Up Free
        %li.al-visible-current-user{:style => "display: none;"}
          %a{"data-no-turbolink" => "true", :href => "/dashboard"} Dashboard
        %li.header-sign-out.al-visible-current-user{:style => "display: none;"}
          %a#signout-link{"data-no-turbolink" => "true", :href => "/users/sign_out"}
            %i.hidden-xs.icon-power-off
            %span.visible-xs
              Sign Out
              %i.icon-power-off
