%aside.navigation
  %nav
    %ul.nav.luna-nav
      %li.nav-category
        Tổng quan
      %li
        %a{:href => "#", onclick: "load(1)"} Báo cáo tổng hợp
      %li.nav-category
        Hạng mục quản lý
      %li.active
        %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#datainput"}
          Nhập dữ liệu gốc
          %span.sub-nav-icon
            %i.stroke-arrow
        %ul#datainput.nav.nav-second.collapse.in
          %li.active
            %a{style: "cursor: pointer", onClick: "$(APP).trigger('employee')" } Danh sách nhân viên
          %li
            %a{style: "cursor: pointer", onClick: "$(APP).trigger('room')" } Danh sách phòng
          %li
            %a{style: "cursor: pointer", onClick: "$(APP).trigger('position')" } Danh sách chức vụ
          %li
            %a{style: "cursor: pointer", onClick: "$(APP).trigger('service')" } Danh sách dịch vụ
      %li
        %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#datalink"}
          Liên kết dữ liệu
          %span.sub-nav-icon
            %i.stroke-arrow
        %ul#datalink.nav.nav-second.collapse
          %li
            %a{style: "cursor: pointer", onClick: "$(APP).trigger('linkep')" } Liên kết nhân viên
          %li
            %a{:href => "support.html"} Support
          %li
            %a{:href => "nestableList.html"} List
          %li
            %a{:href => "timeline.html"} Timeline
      %li.nav-category
        App Pages
      %li
        %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#extras"}
          Basic
          %span.sub-nav-icon
            %i.stroke-arrow
        %ul#extras.nav.nav-second.collapse
          %li
            %a{:href => "profile.html"} Profile
          %li
            %a{:href => "support.html"} Support
          %li
            %a{:href => "nestableList.html"} List
          %li
            %a{:href => "timeline.html"} Timeline
      %li
        %a{:href => "versions.html"}
          %span.badge.pull-right 2
          Versions
      %li.nav-info
        %i.pe.pe-7s-shield.text-accent
        .m-t-xs
          %span.c-white Helia
          Management Web Application.
