%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{:href => root_url}
        %h3{:style => "margin-top:10px"} Prolife
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden.active
          %a{:href => "#page-top"}
        %li
          %a{:href => ""} Thông tin
        %li
          %a{:href => ""} Sản phẩm
        %li
          %a{:href => ""} Hướng dẫn sử dụng
        - if logged_in?
          %li
            %a{:href => "/user"} Thông tin tài khoản
          %li
            %a{:href => "/logout"} Đăng xuất
        - else
          %li
            %a{:href => "/login"} Đăng nhập
          %li
            %a{:href => "/signup"} Đăng ký
    / /.navbar-collapse
  / /.container
