%section#doc
  #doc-tab-wrapper
    .container
      #doc-title
        %h1
          %a{:href => "/documentation"}
            Danh mục tài liệu
      #doc-navbar-wrapper
        %ul#doc-navbar.nav.navbar-nav.clearfix
          %li
            .nav-item-wrapper
              %a.nav-item{:href => "#"}
                API Code
          %li
            .nav-item-wrapper
              %a.nav-item{:href => "#"}
                Hướng dẫn
          %li
            .nav-item-wrapper
              %a.nav-item{:href => "#"}
                Câu hỏi thường gặp
  #doc-content-wrapper
    .container
      %div
        #doc-content.full-width
          #doc-landing
            .quick-access
              .m1200.m-l-r-auto
                .row
                  .col-md-3.col-xs-4.chapter-wrap
                    %a.chapter.chapter-guides{:href => "/documentation/guides/gettingstarted", :style => "min-height: 190px"}
                      %h3
                        Bắt đầu sử dụng
                      %p.text-muted
                        2 Hướng dẫn
                      .colored-footer-banner
                      %img.media-object{:alt => "Getting started", :src => "/assets/getting-started-12bcd6a3e5990bb30e1bb3d2ba9e16b2.png", :width => "110"}/
                  .col-md-3.col-xs-4.chapter-wrap
                    %a.chapter.chapter-guides{:href => "/documentation/guides/indexing", :style => "min-height: 190px"}
                      %h3
                        Sử dụng bản ghi
                      %p.text-muted
                        2 Hướng dẫn
                      .colored-footer-banner
                      %img.media-object{:alt => "Indexing", :src => "/assets/indexing-6281fc95bca3292e49e8c6930b9a7363.png", :width => "110"}/
                  .col-md-3.col-xs-4.chapter-wrap
                    %a.chapter.chapter-guides{:href => "/documentation/guides/search", :style => "min-height: 190px"}
                      %h3
                        Tìm kiếm thông tin
                      %p.text-muted
                        7 Hướng dẫn
                      .colored-footer-banner
                      %img.media-object{:alt => "Search", :src => "/assets/search-cedc4358133a84da070cdf59ded68d42.png", :width => "110"}/
                  .col-md-3.col-xs-4.chapter-wrap
                    %a.chapter.chapter-guides{:href => "/documentation/guides/relevance", :style => "min-height: 190px"}
                      %h3
                        Chi tiết module
                      %p.text-muted
                        4 Hướng dẫn
                      .colored-footer-banner
                      %img.media-object{:alt => "Relevance", :src => "/assets/relevance-3909955fdde936b8afb454125917e29b.png", :width => "110"}/
                  .col-md-3.col-xs-4.chapter-wrap
                    %a.chapter.chapter-guides{:href => "/documentation/guides/geosearch", :style => "min-height: 190px"}
                      %h3
                        Kết nối hệ thống
                      %p.text-muted
                        1 Hướng dẫn
                      .colored-footer-banner
                      %img.media-object{:alt => "Geo search", :src => "/assets/geo-search-c90b06059d89ee811b3d35fa62f31d00.png", :width => "110"}/
                  .col-md-3.col-xs-4.chapter-wrap
                    %a.chapter.chapter-guides{:href => "/documentation/guides/security", :style => "min-height: 190px"}
                      %h3
                        Bảo mật
                      %p.text-muted
                        3 Hướng dẫn
                      .colored-footer-banner
                      %img.media-object{:alt => "Security", :src => "/assets/security-4448bc11f0aa0a773d163d7e6950c4e3.png", :width => "110"}/
                  .col-md-3.col-xs-4.chapter-wrap
                    %a.chapter.chapter-guides{:href => "/documentation/guides/analytics", :style => "min-height: 190px"}
                      %h3
                        Báo cáo, thống kê
                      %p.text-muted
                        1 Hướng dẫn
                      .colored-footer-banner
                      %img.media-object{:alt => "Analytics", :src => "/assets/analytics-955a7cf5e1c84649379265aa7cc92542.png", :width => "110"}/
                  .col-md-3.col-xs-4.chapter-wrap
                    %a.chapter.chapter-guides{:href => "/documentation/guides/account", :style => "min-height: 190px"}
                      %h3
                        Tài khoản &amp; thanh toán
                      %p.text-muted
                        2 Hướng dẫn
                      .colored-footer-banner
                      %img.media-object{:alt => "Accounts billing", :src => "/assets/accounts-billing-5967b60fdcb6de189908c7922690477b.png", :width => "110"}/
                .spacer40