.hero
  .container
    %h1
      Cập nhật
      %br/
      %small Những bản cập nhật dưới đây thể hiện danh sách toàn bộ những cập nhật trong hệ thống Aligosa từ lúc bắt đầu dự án tới thời điểm hiện tại
