%body
  .wrapper
    = render "shared/header_station_normal"
    = render "shared/navigation_station_normal"
    / Main content
    %section.content
      .container-fluid
        .row
          .col-lg-12
            = react_component 'Records', { data: @records }