.hero
  .container.text-center
    %h1
      Tất cả các dịch vụ bạn cần đều có trong sản phẩm
      %small Cách đơn giản nhất để quản lý cơ sở y tê
    .spacer40
    .row.text-center
      .col-sm-4
        %img.m100p{:height => "160", :src => asset_path("autocomplete.png")}/
        %h3.color-white Tự động gợi ý
        .spacer50.visible-xs
      .col-sm-4
        %img.m100p{:height => "160", :src => asset_path("instant.png")}/
        %h3.color-white Truy xuất dữ liệu cực nhanh
        .spacer50.visible-xs
      .col-sm-4
        %img.m100p{:height => "160", :src => asset_path("mobile.png")}/
        %h3.color-white Hỗ trợ điện thoại thông minh
    .spacer40