%section.oddbg
  .container
    %h2.text-center.underlined Hệ thống xếp hạng tối ưu
    %p.section-heading Cách tốt nhất giúp bạn biết mình có vấn đề nào cần quan tâm tiếp theo
    .row
      .col-sm-8.col-sm-offset-2
        .media
          .media-left
            %img.media-object{:height => "80", :src => asset_path("tuning.png")}/
          .media-body
            %h3.media-heading Rõ ràng và dễ sử dụng
            %p Hệ thống của chúng tôi được thiết kế sao cho dễ nắm bắt và thao tác nhất trong một khoảng thời gian ngắn. Cách bố trí của các yếu tố trong giao diện luôn đề cao tính dễ sử dụng nhất
        .spacer20
        .media
          .media-left
            %img.media-object{:height => "80", :src => asset_path("relevance.png")}/
          .media-body
            %h3.media-heading Nâng cao khả năng quản lý của bạn với các biểu đồ thống kê
            %p Dựa vào các số liệu của bạn về khách hàng, trang thiết bị y tế, thuốc. Các thuật toán của chúng tôi sẽ đưa ra các biểu đồ thích hợp giúp bạn dự đoán các thay đổi về lượng khách hàng, trang thiết bị y tế cần thiết phải thay đổi cũng như lượng thuốc cần phải có tại từng thời điểm.
        .spacer20
        .media
          .media-left
            %img.media-object{:height => "80", :src => asset_path("typo-tolerance.png")}/
          .media-body
            %h3.media-heading Nhập dữ liệu đa dạng
            %p Bạn hoàn toàn có thể sử dụng nhiều phương tiện nhập liệu. Đồng thời hệ thống gợi ý thời gian thực của chúng tôi sẽ giúp các bạn không mắc lỗi nhập dữ liệu nhầm hay sai xót.