%section.evenbg
  .container
    %h2.text-center.underlined Hệ thống độc nhất
    .m800.m-l-r-auto
      %p.section-heading Đưa việc quản lý y tế lên một tầm cao mới
      .text-center
        %img.m100p.m-b.m-t{:src => asset_path("first-class-hosting.png")}/
        %h3 Hệ thống máy chủ chất lượng
      .spacer20
      .row
        .col-sm-6
          %ul.list-unstyled
            %li
              %h4
                %img{:height => "25", :src => asset_path("bullet-check.png")}/
                Luôn cập nhật theo nhu cầu của bạn
              %p Bạn sẽ luôn luôn được sử dụng phiên bản hoàn thiện tốt nhất của hệ thống. Việc cập nhật được chúng tôi thực hiện hoàn toàn trên hệ thống của mình và sẽ không gay gián đoạn hay ảnh hưởng tới dữ liệu của các bạn.
        .col-sm-6
          %ul.list-unstyled
            %li
              %h4
                %img{:height => "25", :src => asset_path("bullet-check.png")}/
                100% Lưu trử bản ghi dự trữ
              %p Dữ liệu của bạn sẽ luôn tồn tại một bản ghi dự trữ tại mọi thời điểm. Tất cả các dữ liệu ở bản ghi dự trữ đều cần 7 ngày trước khi bị xóa hẳn khỏi hệ thống. Nếu bạn gặp vấn đề lớn với dữ liệu của mình, bạn đừng lo lắng vì vấn đề sẽ được chúng tôi giải quyết sau khi có yêu cầu hỗ trợ của bạn chỉ 15 phút.
      .spacer20
      .line
      .spacer20
    .m600.m-l-r-auto
      .text-center
        %img.m100p.m-b.m-t{:src => asset_path("highly-secure.png")}/
        %h3 Tính bảo mật cao
      .spacer20
      %p Chúng tôi luôn bị ám ảnh bởi tính bảo mật của hệ thống. Vì vậy việc truy cập vào dữ liệu của bạn luôn được kiểm soát gắt gao. Nhờ vào việc chúng tôi kiểm soát hoàn toàn framework được sử dụng để tạo ra hệ thống, mọi vẫn đề bảo mật luôn nằm trong tầm kiểm soát.
  