%section.evenbg.signup-footer
  .container
    %p.section-heading.text-center
      Đừng chờ đợi! Hãy thử Aligosa ngay!
      %a.btn.btn-static-primary.m-l{"data-no-turbolink" => "true", :href => "/signup"}
        Bắt đầu sử dụng
        %i.fa.fa-caret-right
    %p.small.text-center.text-muted Chỉ với 5 phút đăng ký. Sử dụng Aligosa miễn phí trong 14 ngày
    %p
