%section.evenbg
  .container.text-center
    %h2.text-center.underlined Tốc độ vượt trội
    %p.section-heading Truy xuất dữ liệu trong nháy mắt, bất kể bạn ở đâu
    .row
      .col-sm-10.col-sm-offset-1
        .row
          .col-sm-6
            %img{:src => asset_path("ultra-fast-backend.png")}/
            %h3 Kỹ thuật tiên tiến
            %p Chúng tôi xây dựng hệ thống trên nền tảng framework được viết riêng giúp tăng hiệu xuất sử dụng. Mọi quá trình sử dụng đều được ghi lại giúp chúng tôi tối ưu hóa sản phẩm
            .spacer40.visible-xs
          .col-sm-6
            %img{:src => asset_path("worldwide-performance.png")}/
            %h3 Khả năng liên kết rộng lớn
            %p
              Hệ thống của chúng tôi chạy điện toán đám mây. Điều này giúp bạn có thể truy xuất dữ liệu ở bất kỳ nơi đâu. Đã đến lúc bạn có thể thoải mái du lịch mà vẫn nắm rõ tình hình phòng khám của mình hoạt động ra sao.