%section.evenbg
  .container
    %h2.text-center.underlined Passionate Support
    %p.section-heading The entire Algolia team is committed to help you build the best search experiences.
    %ul.success-team.list-inline.text-center
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-gianluca.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-julien.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-nicolas.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-matthieu.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-olivier-2.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-rebecca.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-gaetan.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-vvo.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-adam.jpg", :width => "70"}/
      %li
        %img.img-circle{:src => "https://www.algolia.com/static_assets/images/about-xavier.jpg", :width => "70"}/
    .spacer30
    %p.text-center
      We listen to your needs and propose to you ways to build what is best for your users.
      %br/
      We will always go the extra mile to make sure you’re making the most out of Algolia: consider us part of your team!