%section.oddbg
  .container
    %h2.text-center.underlined Build the perfect experience
    %p.section-heading A suite of features that allows you to meet your Users’ expectations
    .m800.m-l-r-auto
      .row
        .col-sm-5
          .text-center
            %img.img-responsive{:src => asset_path("feat-facets.png")}/
        .col-sm-6
          .spacer30
          .row
            .col-xs-3
              .spacer40
              %img.img-responsive{:src => asset_path("feat-icon-facets.png")}/
            .col-xs-8
              %h3 Instant faceting
              %p Provide as-you-type updated filters and make your search bar a powerful browsing tool.
      .spacer20
      .line
      .spacer20
      .row
        .col-sm-6.col-sm-offset-1
          .spacer30
          .row
            .col-xs-3
              .spacer40
              %img.img-responsive{:src => asset_path("feat-icon-languages.png")}/
            .col-xs-8
              %h3 Languages
              %p Algolia works for all languages without extra work. Speed and ranking perform just as well!
        .col-sm-5
          .text-center
            %img.img-responsive{:src => asset_path("feat-languages.png")}/
      .spacer20
      .line
      .spacer20
      .row
        .col-sm-5
          .text-center
            %img.img-responsive{:src => asset_path("feat-geosearch.png")}/
        .col-sm-6
          .spacer30
          .row
            .col-xs-3
              .spacer40
              %img.img-responsive{:src => asset_path("feat-icon-geosearch.png")}/
            .col-xs-8
              %h3 Geo-Search
              %p Built into our API, you can use the geolocation of your users to optimize their results on the go.
      .spacer20
      .line
      .spacer20
      .row
        .col-sm-6.col-sm-offset-1
          %h3 Perfect for Mobile-Search
          %ul.list-unstyled
            %li
              %i.icon-check
              Find-as-you-type, from the first keystroke
            %li
              %i.icon-check
              Forget about fat fingers with our spell checker
            %li
              %i.icon-check
              Native SDKs for Android, iOS and Windows Phone
        .col-sm-5.hidden-xs
          .spacer20
          %img{:src => asset_path("perfect-mobile.png")}/
      .spacer40
      .line
      .spacer40
      .row
        .col-sm-6
          .browser-content.thumbnail{:style => "overflow: hidden; height: 260px;"}
            %img{:src => asset_path("dashboard.jpg")}/
          %h3.text-center Intuitive Dashboard
          %p Configure, debug and optimize the relevance of your search results from one single interface.
          .spacer40.visible-xs
        .col-sm-6
          .browser-content.thumbnail{:style => "overflow: hidden; height: 260px;"}
            %img{:src => asset_path(capture_analytics_queries.png")}/
          %h3.text-center Analytics
          %p Learn what and how people search on your service: most popular queries, queries without results, etc.