.press-quote-container
  .container
    %i.fa.fa-quote-left
    So sánh với các hệ thống phần mềm bạn đang sử dụng với Aligosa; Nó sẽ giống như một chiếc xe đạp chạy đua với máy bay — Aligosa tạo ra cảm giác rằng không có giới hạn nào ngăn cản bạn mở rộng trung tâm y tế của bạn.
    %i.fa.fa-quote-right