.hero
  .container
    %h1.text-center
      Xây dựng một hệ thống quản lý riêng biệt
      %small Lưu trữ các thông tin cần thiết trên hê thống đám mây dữ liệu. Cung cấp các kết quả thống kê cần thiết cùng các gợi ý để nâng cao chất lượng dịch vụ khám chữa bệnh chỉ với những thao tác đơn giản 
    .text-center
      %span
        %a.btn.btn-static-inverse{"data-no-turbolink" => "true", :href => "/enterprise/demo"} Đặt lịch Demo sản phẩm
      %span.hidden-xs
        %a.btn.btn-static-primary.m-l{"data-no-turbolink" => "true", :href => "/signup"}
          Dùng thử miễn phí 14 ngày
          %i.fa.fa-caret-right
          %span.no-card Chỉ tốn 5 phút
    .spacer30.clearfix
    %h4.text-center.hidden-xs Những trung tâm ý tế tốt nhất đều sẽ chọn Aligosa
    .spacer10