%section.evenbg
  .container.text-center
    %h2.underlined Nâng cao khả năng quản lý
    %p.section-heading
      Bạn muốn nắm bắt và đánh giá cơ sở y tế của mình nhanh nhất
      %br>/
      Chỉ cần 10 phút mỗi ngày
    .spacer30
    .row
      .col-sm-3.col-sm-offset-1
        %img{:src => asset_path("speed-thought.png")}/
        %br/
        %h3 Truy xuất dữ liệu nhanh
      .col-sm-4
        %img{:src => asset_path("relevant.png")}/
        %br/
        %h3 An toàn dữ liệu
      .col-sm-3
        %img{:src => asset_path("any-device.png")}/
        %br/
        %h3 Hỗ trợ đa nền tảng
    .spacer40
    %a.btn.btn-static-default{:href => "/documentation"} Đọc thêm
