%section#integrate
  .m800.container
    %h2.text-center.underlined Xây dựng bởi các nhà phát triển sản phẩm trẻ tuổi
    %p.section-heading Hãy quên những vấn đề khó khăn trong quản lý phòng khám của bạn đi, với hệ thống của chúng tôi điều duy nhất bạn cần quan tâm là nâng cao chất lượng chuyên môn của mình. 
    .spacer20
    .row
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("speed-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              Truy xuất dữ liệu
              %br>/
              song song
          .spacer20.hidden-xs.hidden-sm
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("ranking-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              Hệ thống xếp hạng
              %br>/
              những điều cần lưu ý
          .spacer20.hidden-xs.hidden-sm
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("architecture-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              Thiết kế hệ thống
              %br>/
              chuyên biệt
          .spacer20.hidden-xs.hidden-sm
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("code-dark.png")}/
          .media-body
            %h4.color-white
              Truy xuất dữ liệu
              %br>/
              qua API key
              %br>/
              (Website, Apps)
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("dashboard-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              Hệ thống quản lý
              %br>/
              toàn diện
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("support-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              Hỗ trợ dịch vụ
              %br>/
              24/24
    .spacer50
    .text-center
      %a.btn.btn-static-inverse{"data-no-turbolink" => "true", :href => "/features"} Xem sản phẩm của chúng tôi
  .spacer50