%section.oddbg.hidden-xs
  .container
    %h2.underlined.text-center Aligosa luôn tự hoàn thiện mỗi ngày để phục vụ bạn
    %p.section-heading.text-center Hệ thống của chúng tôi có thể đồng thời xử lý hàng vạn yêu cầu cùng một thời điểm.
