body {
    font-family: mainfont;
    color: #fff;
}

@font-face {
    font-family: mainfont;
    src: url(../fonts/Esphimere.otf);
}

a, a:hover, a:link, a:visited, body, h1, h2, h3, h4, h5, h6 {
    color: #f8f8f8;
}

a {
    text-decoration: none;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    margin: .67em 0;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
}

/*Homepage setting*/

.homepage {
    z-index: -2;
    background: #010101;
    background-image: url(../images/background/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*Cover layer*/

.invilayer{
	background: rgba(1,1,1,.3);
	z-index: -1;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*Splash layer*/

#splash {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#particles-js, #splash{
    bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#splash::before {
    z-index: -1;
    background-color: rgba(90,88,88,.4);
}

#particle, #splash, #splash::after, #splash::before {
    bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#splash::after, #splash::before, .homepage::after, .homepage::before {
    content: '';
}

#splash::after {
    z-index: -2;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
    background-repeat: none;
    background-size: cover;
}

#particle, #splash, #splash::after, #splash::before {
    bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#splash .container-fluid {
    max-width: 700px;
    margin: 7.5% auto 0;
    text-align: center;
    position: relative;
}

#splash .container-fluid h1 {
    opacity: .85;
    font-family: mainfont;
    color: #f8f8f8;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 22px;
}

#splash .container-fluid section {
    margin-top: 15%;
    padding-top: 0;
    position: relative;
}

#splash .container-fluid section .sign-in {
    z-index: 999;
    position: relative;
    margin-top: 25px;
    text-align: center;
}

#splash .container-fluid section .sign-in button {
    position: relative;
    padding: 14px 26px 14px 0;
    color: rgba(248,248,248,.7);
    background: #464646;
    display: inline-block;
    font-family: mainfont;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    border: none;
    letter-spacing: 2px;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform: translateZ();
    transform: translateZ();
    border-radius: 3px;
}

#splash .container-fluid section .sign-in button img {
    max-height: 35px;
    margin-right: 10px;
    position: relative;
    left: -8px;
    opacity: .7;
}
#splash .container-fluid img {
    opacity: .85;
    max-height: 50px;
    margin: 0 auto;
}

#splash .container-fluid section .terms {
    z-index: 999;
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: rgba(248,248,248,.7);
    padding: 0 20px;
}

#splash .container-fluid section .terms span {
    text-align: left;
    display: inline-block;
    font-weight: 300;
}

#splash .container-fluid section .terms input[type=checkbox] {
    margin-right: 7.5px;
    position: relative;
}

#splash .container-fluid section .terms label {
    font-weight: 400;
}

#splash .container-fluid section .terms a:visited {
    color: #f8f8f8;
}

#splash .container-fluid section .terms a:link {
    color: #f8f8f8!important;
    text-decoration: underline;
}

/*Container fluid*/

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

/*Nav Bar*/

.navbar {
    z-index: 99;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    border: none;
    background: #4d4c4c;
}

.navbar .navbar-brand {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
}

.navbar .navbar-brand span {
    font-weight: 300;
    font-size: 16px;
}

.navbar .navbar-brand:hover{
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #f8f8f8;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #f8f8f8;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar .dropdown-menu {
    border-radius: 0;
    background: rgba(90,88,88,.9);
    padding: 0;
}

.navbar .dropdown-menu li a {
    padding: 10px 10px 10px 15px;
    border: none;
}

.navbar .navbar-nav li a {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 300;
    color: #fff;
}

 .dropdown-menu>li>a:hover{
 	background: #5a5858;
 }

/*Color layer=============================================================================================================================================================*/
.inventorycolor{
	background-color: rgba(80, 97, 131, 0.95)!important;/*rgba(90,88,88,.65)!important*/
}

.onhover:hover{
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6)!important;
}

.backgroundcolor-topbar{
	background-color: rgba(0,0,0,0)!important;
}

/*Change width class*/
.no-decoration:hover{
	background-color: rgba(248,248,248,.2)!important;
}

.inventorysidebar{
	width: 100% !important;
}

.inventorysidebar-small{
	width: 20% !important;
}

.inventorysidebar-middle{
	width: 60% !important;
}

.middle-side-text{
	padding: 10px 10px;
}

.opacitymax{
	opacity: 0;
}

.padding-left-set-10{
	padding-left:10px;
}

.none-deco:hover{
	text-decoration: none!important;
}

.none-padding{
	padding:0px!important;
}

.none-display{
	display:none!important;
}

.trade input {
    border-radius: 0;
    margin-bottom: 10px;
    margin-top: 5px;
}


/*Leftside start*/

.sidebar-wrapper {
	position: fixed;
    opacity: 0;
    z-index: 6;
    left:0;
    top: 0;
    bottom: 0;
    height: 100%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    box-shadow: 10px 0 5px -5px rgba(0,0,0,.15);
    background: 0 0;
    overflow: hidden;
    width: 300px;
}

.sidebar-wrapper-right {
	position: fixed;
    opacity: 0;
    z-index: 15;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    box-shadow: -10px 0 5px -5px rgba(0,0,0,.15);
    background: 0 0;
    overflow: hidden;
    width: 400px;
}

.side-module {
    background-color: rgba(90,88,88,.95);
    position: absolute;
    z-index: 7;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-tabs.sidebar {
    position: absolute;
    top: 0;
    z-index: 7;
    display: block;
    width: 300px;
    border: none!important;
}

.nav-tabs.sidebar li.active, .nav-tabs.sidebar li.active a {
    margin: 0;
    background-color: transparent;
}

.nav-tabs.sidebar li {
    background-color: #5a5858;
    display: inline-block;
    width: 40%;
}

.nav-tabs.sidebar li.active a {
    opacity: 1;
    color: #f8f8f8;
}

.nav-tabs.sidebar li.active, .nav-tabs.sidebar li.active a {
    margin: 0;
    background-color: transparent;
}

.nav-tabs.sidebar li a {
    background-color: rgba(248,248,248,.2);
    border-radius: 0;
    color: #f8f8f8;
    font-size: 20px;
    text-align: center;
    border: none;
    margin: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs.sidebar li.active a {
    opacity: 1;
    color: #f8f8f8;
}

.nav-tabs.sidebar li a:hover {
    background-color: transparent;
    color: #f8f8f8;
    border-top: none!important;
    margin: 0!important;
    border: none;
}

.nav-tabs.sidebar li a {
    background-color: rgba(248,248,248,.2);
    border-radius: 0;
    color: #f8f8f8;
    font-size: 20px;
    text-align: center;
    border: none;
    margin: 0;
}

.nav-tabs.sidebar li.toggle {
    width: 20%;
    background-color: #8d8b8b;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    padding: 10px 10px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li, .nav>li>a {
    position: relative;
    display: block;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.side-module .panel-body {
    padding: 0;
    position: absolute;
    bottom: 0;
    top: 50px;
    right: 0;
    left: 0;
}

.side-module .chat .message {
    width: calc(100% - 20px);
    opacity: 0;
    padding: 5px 15px;
    margin-left:15px;
    margin-bottom: 15px;
}

.tab-content>.tab-pane {
    display: none;
    visibility: hidden;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.side-module .chat {
    padding-top: 10px;
    position: absolute;
    bottom: 100px;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    padding-right:10px;
}

.side-module .chat .message .col-xs-12 .name {
    color: #f8f8f8;
    font-weight: 700;
    padding-left: 5px;
    display: block;
}

.side-module .chat .message .col-xs-12 img {
    display: inline-block;
    max-height: 25px;
    margin-right: 10px;
    border-radius: 3px;
    position: relative;
    top: -1px;
}

.side-module .chat .message .col-xs-12 .text {
    margin-top: 7.5px;
    padding: 6.5px;
    border: 1px solid #9a9898;
    border-radius: 2px;
    word-wrap: break-word;
    background: #676565;
}

.side-module .account {
	z-index:4;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.side-module .account .content {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 50px;
    right: 1px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    overflow-y: scroll;
}

.side-module .account .content h3 {
    margin-top: 5px;
}

.side-module .account .content h3, .side-module .account .content h4 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.side-module .account .content img {
    max-height: 150px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.regular{
	text-align: center!important;
	background: #c5c5c5;
}

.regular span,.wins span,.losses span{
	font-weight: 700;
}

.wins{
	background: #89e5b0;
    text-align: center!important;
}

.losses{
	background: #e9a39b;
    text-align: center!important;
}

.regular, .wins, .losses {
    border-radius: 3px;
    padding: 7.5px;
    color: #5a5858;
}

.side-module .account .content p.regular {
    background: #c5c5c5;
    border-radius: 3px;
    padding: 7.5px;
    color: #5a5858;
}
.side-module .account .content p {
    text-align: center;
    color: #5a5858;
    font-size: 14px;
}

.side-module .account .content p span {
    font-weight: 700;
}

.side-module .account .content .resetTrade:hover {
    background: #f8f8f8;
}
.side-module .account .content .resetTrade:link {
    text-decoration: none;
}
.side-module .account .content .resetTrade {
    text-align: center;
    display: block;
    background: #f8f8f8;
    border-radius: 3px;
    padding: 7.5px;
    color: #5a5858;
    font-weight: 700;
    text-transform: uppercase;
}

.scrollable-content {
    overflow-x: hidden;
    overflow-y: scroll;
}

.input {
	position: absolute;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    bottom: 0;
    right: 0;
    left:0;
    padding: 10px 10px 10px 15px;
    background-color: transparent;
}

.input textarea {
    display: inline-block;
    margin-right: 7px;
    font-size: 14px;
    height: 70px;
    padding: 3px;
    resize: none;
    background: #676565;
    border: 1px solid #9a9898;
    width: calc(100% - 37px - 20px);
}

.input .btn-chat {
    background: url(../images/icon-send.png) center center no-repeat #9a9898!important;
    color: #fff;
    width: 37px;
    height: 70px;
    border-radius: 0;
}
.input button {
    display: inline-block;
    color: #5a5858;
    border: none;
    vertical-align: top;
}

/*Leftside end*/

/*================================================================Rightside start======================================================================*/
.full-site-wrapper{
	z-index:3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.page-content-wrapper {
    overflow: auto;
    width: auto;
    height: 100%;
    padding: 0;
}

.jackpot-container {
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    padding-top: 150px;
    width: 90%;
    margin: 45px auto 80px;
    position: relative;
    max-width: 1100px;
}

.progress-bar {
    height: 45px;
    width: 100%;
    float: none;
    background: rgba(0,188,212,.6);
    position: relative;
    box-shadow: none;
    outline: 0!important;
    display: block;
    border: none;
    color: #f8f8f8;
}

.progress-bar .current-progress{
	height: 45px;
    background-image: -webkit-linear-gradient(left,rgba(50,50,50,.4),rgba(248,248,248,.2));
    background-image: linear-gradient(to right,rgba(50,50,50,.4),rgba(248,248,248,.2));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    outline: 0!important;
    display: block;
    border: none;
    color: #f8f8f8;
    transition: width .6s ease;
}

.progress-bar .current-progress::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.progress-bar .current-progress::after {
    -webkit-animation: progress-active 2s ease infinite;
    animation: progress-active 2s ease infinite;
    background: rgba(248,248,248,.5);
}

.jackpot-container .tab-content {
    box-shadow: 11px 8px 10px -10px rgba(0,0,0,.15);
    z-index: 9999;
    position: relative;
    color: #f8f8f8;
    background: rgba(64,63,63,.8);
    text-align: center;
}

.jackpot-container .left, .jackpot-container .right {
    padding: 15px;
    float: left;
    width: 50%;
    position: relative;
}

.progress-bar .number {
    right: 0;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    font-size: 24px;
    position: relative;
    top: 12px;
    font-weight: 700;
    color: #CADADD;
}

.jackpot-container .chance {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #f8f8f8;
    font-weight: 300;
    margin-top: 20px;
}

.jackpot-container .chance span {
    font-weight: 700;
}

.jackpot-container .amount {
    display: block;
    text-align: center;
    font-size: 60px;
    color: #f8f8f8;
    font-weight: 700;
    margin-top: 65px;
}

.jackpot-container .amount span {
    padding-right: 3px;
}

.jackpot-container .amount span::before {
    content: '$';
}

.jackpot-container a#deposit {
    display: block;
    border-radius: 0;
    background: #999A9C;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #f8f8f8;
    width: 100%;
    padding: 10px 0;
    margin-top: 64px;
    font-weight: 400;
}

.jackpot-container a#deposit span.wrap {
    display: block;
    font-weight: 300;
    font-size: 20px;
}

.jackpot-container a#deposit span {
    display: block;
    font-weight: 300;
    font-size: 16px;
}

.jackpot-container a#deposit:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

.jackpot-container .items {
    position: relative;
    height: 340px;
    margin-top:15px;
    padding: 10px;
    overflow-y: auto;
    text-align: center;
}

.jackpot-container .progress-bar-back-bot {
	-webkit-transition: width 500ms ease-out;
    transition: width 500ms ease-out;
    position: absolute;
    height: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(248,248,248,.1);
    z-index: 80701;
}

.round {
    display: block;
    color: #f8f8f8;
    padding: 7.5px;
    font-size: 16px;
    margin: 20px 0;
    background: rgba(248,248,248,.3);
    transition-delay: .2s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    outline: 0!important;
}


.details {
    padding: 10px;
    text-align: center;
    display: block;
}

.details img {
    border-radius: 3px;
    padding: 10px 10px 10px 0;
    max-height: 50px;
    display: inline-block;
}

.roundHash {
    text-align: center;
    display: block;
    padding: 10px 0;
    color: rgba(248,248,248,.5);
}

.table {
	display:block;
	max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
	background-color: transparent;
	border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
	width:100%;
	border-collapse:collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    box-sizing: border-box;
    border-collapse:collapse;
}

td {
	overflow: hidden;
	border-collapse:collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td .name{
    white-space: nowrap;
    text-overflow: ellipsis;
}

td .name img {
    border-radius: 3px;
    padding: 10px 10px 10px 0;
    max-height: 50px;
    display: inline-block;
}
/*============================================================Rightside end==========================================================================*/

/*Footer*/
footer {
	background: #4d4c4c;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

footer .social a {
    padding: 3.5px;
    position: relative;
    top: 5px;
    opacity: .5;
    font-size: 22px;
    color: #fff;
}

footer .social a:hover {
    opacity: 1;
}

footer .links span {
    padding: 15px 7.5px 7.5px;
    display: inline-block;
    font-size: 12px;
    opacity: .5;
}

footer .links a:hover {
	text-decoration: none;
	opacity: 1;
}

.modal.inventory .deposit button, footer .links span, footer .social .link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.footer{
	position: fixed;
    right: 0;
    left: 0;
	z-index: 5;
    border-radius: 0;
    margin-bottom: 0;
    padding: 20px 0;
    bottom: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    border: none;
}

/*Modal Setting*/

.modal .modal-footer, .modal .modal-header {
    border-color: #929292;
}

.modal .modal-title {
    margin: 10px;
    padding: 14px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #f8f8f8;
    text-align: center;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal .tos, .modal p {
	text-align: justify;
    font-size: 14px;
}

.modal h5 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 700;
    color: #fff;
    padding-top: 25px;
}

.modal .modal-content {
    background: rgba(90,88,88,.9);
    border-radius: 3px;
    color: #f8f8f8;
}

.modal button.btn {
    border-radius: 0;
    background: #737272;
    border: none;
    color: #f8f8f8;
}
/*item style*/
.item {
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 29%;
    max-width: 100px;
    background: #565759;
    margin: 5px;
    color: #f8f8f8;
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	white-space: nowrap;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.item:hover {
    cursor: pointer;
   	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.item img {
    height: auto;
    width: 100%;
    padding: 5px;
    max-height: 83px;
}

.item span.name {
    font-weight: 300;
    height: 35px;
    overflow: hidden;
    font-size: 12px;
}

.item span.price {
    font-weight: 400;
    padding-bottom: 5px;
    color: #73E9F9;
}

.item span {
    display: block;
}

.item span .botiditem{
	position: absolute;
	right: 0;
	top: 0;
}

.itemactive {
	background-color: #2645D3!important;
}

.offer-table-image{
	max-width: 40px;
}

.offer-table-image2{
	width: 15%;
	min-width: 50px;
	max-width: 80px;
}

.list-group-item {
	background-color: rgba(0,0,0,.1)!important;
	border: 0px solid #ddd;
}

.addbutton {
	display: inline-block;
    position: relative;
    height: 58px;
    max-width: 100%;
}

.botitem {
	position: absolute;
	right: 0;
	top: 0;
}

.depositbutton {
	text-align: center;
    display: block;
    background: #00BCD4;
    padding: 10px 0;
    color: #f8f8f8;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.depositbutton:hover,.withdrawbutton:hover{
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.withdrawbutton {
	text-align: center;
    display: block;
    background: #585758;
    padding: 10px 0;
    color: #f8f8f8;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
/*
.item .price {
    display: block;
    text-align: center;
    background: 0 0;
    color: #f8f8f8;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    margin: 0 auto;
    border-top: none;
}
*/
/*Flipcoin Style=====================================================================================================================*/

.flipcoinmiddle{
	padding-top: 40px;
    margin: 45px auto 80px;
	text-align: center;
}

.flipcoinmiddle .listings {
    max-width: 650px;
    margin: 25px auto 0;
    text-align: justify;
}

.buttonmakeflipcoin {
    padding: 10px;
    width: 100%;
    color: #f8f8f8;
    background: rgba(0,188,212,.75);;
    margin: 10px auto!important;
    font-size: 14px;
    border: none!important;
}

.coinfliphistorybutton {
    padding: 10px;
    width: 100%;
    color: #403F3F;
    background: #dfdfdf;
    margin: 10px auto!important;
    font-size: 14px;
}

.flipcoinlistingpanel {
    display: block;
    margin: 10px auto;
    text-align: center;
    background: rgba(248,248,248,.2);
}

.listing1stline{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    /*justify-content: center;*/
    padding: 10px 15px;
}

.listing2ndline{
	padding: 10px 15px;
    text-align: left;
    border-top: solid 3px rgba(0,188,212,.25);
}

.flipcoinitemimg {
    display: inline-block;
    height: 50px;
    margin: 5px;
}

.listingprofile{
	width: 50%;
	text-align: justify;
}

.listingprice{
	width: 20%;
	text-align: justify;
}

.listingjoin{
	width: 30%;
}

.joinflipcoinbutton{
    padding: 10px;
    width: 100%;
    max-width: 250px;
    color: #403F3F;
    background: #dfdfdf;
    margin: 10px auto!important;
    font-size: 14px;
}

.listingimg{
    max-width: 100%;
    height: auto;
    width: 50px;
    margin-right: 15px;
}

.listingname{
	width:33.33%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Support style=====================================================================================================================*/

.social-feed-box {
    /* padding: 15px; */
    margin-bottom: 15px;
}

.social-action {
    margin: 15px;
}

.social-avatar {
    padding: 15px 15px 0 15px;
}

.feed-element, .media-body {
    overflow: hidden;
}

.media-body {
    display: block;
    width: auto;
}

.social-avatar .media-body a {
    font-size: 14px;
    display: block;
}

.text-muted {
    color: #888888;
}

.social-body {
    padding: 15px;
}

.social-footer {
    padding: 10px 15px;
}

.social-comment {
    margin-top: 15px;
}



/*Support style end=================================================================================================================*/

::-webkit-scrollbar{width:10px}::-webkit-scrollbar *{background:0 0}::-webkit-scrollbar-thumb{background:rgba(248,248,248,.4)!important}
.scrollable-content::-webkit-scrollbar{width:10px}.scrollable-content::-webkit-scrollbar *{background:0 0}.scrollable-content::-webkit-scrollbar-thumb{background:rgba(248,248,248,.4)!important}

/*input*/

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

*, :after, :before, input[type=search] {
    box-sizing: border-box;
}

::-webkit-scrollbar * {
    background: 0 0;
}

.playernamebet {
	max-width:200px;
	overflow:hidden;
}

/*Setting for each resolution*/

@keyframes progress-active{0%{opacity:.3;width:0}
100%{opacity:0;width:100%}
}

/*Setting for iphone5*/

@media (max-width:530px){
.playernamebet {
	max-width:200px;
	overflow:hidden;
}
}

@media (max-width:430px){
.footer{
	padding: 0 0 5px 0;
}
.sidebar-wrapper,.nav-tabs.sidebar {
	width: 280px;
}
.playernamebet {
	max-width:120px;
	overflow:hidden;
}
}








