// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require animate
//= require font-awesome
//= require helper
//= require pe-icon-7-stroke
//= require bootstrap
//= require stroke-icons/style
//= require bootstrap-datetimepicker
//= require material-design-iconic-font

@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: rgba(255,255,255,.7);
    background-color: #222c32;
}

.login-content {
    content: '';
    min-height: 100vh;
    text-align: center;
    width: 100%;
}

.lc-block {
    max-width: 1000px;
    padding: 20px 0;
    width: 80%;
    position: relative;
    margin-top: 70px;
}

.lc-block, .login-content {
    vertical-align: middle;
    display: inline-block;
}

.container-center, .panel-filled {
    background: #2b343a;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-radius: 2px;
    text-align: left;
}

.panel-body {
    padding: 35px 55px 20px 25px;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group:not(.input-group-lg):not(.input-group-sm) .input-group-addon {
    font-size: 15px;
}

.input-group-addon:first-child {
    border-right: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.input-group-addon {
    border-width: 0 0 1px;
    min-width: 42px;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #D8DADA;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.fg-line:not(.form-group) {
    display: inline-block;
    width: 100%;
}
.fg-line {
    position: relative;
    vertical-align: top;
}

.form-control:not(.fc-alt) {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}
.form-control {
    resize: none;
}

.form-control {
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.06);
    border-radius: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.00);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus{
    border-bottom: 2px solid rgba(255,255,255,1);
    box-shadow: none;
}

.form-control, output {
    font-size: 13px;
    line-height: 1.42857143;
    color: #D8DADA;
    display: block;
}

.lc-block .checkbox {
    margin: 5px 0 0 65px;
    text-align: left;
}


label {
    font-weight: normal;
}

.lc-block:not(.lc-block-alt) .btn-login {
    top: 50%;
    margin-top: -43px;
    right: -25px;
}

.btn-float {
    position: absolute!important;
}

.btn-float {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 46px!important;
}
.btn {
    border: 0;
}

.btn-default {
    color: #333;
    background-color: #D8DADA;
    border-color: #ccc;
}

.btn-float i {
    font-size: 23px;
    transition: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.lcb-navigation {
    margin-top: 15px;
}

.lcb-navigation a {
    color: rgba(255,255,255,.7);
    background: rgba(255,255,255,.04);
    margin: 0 1px;
    width: auto;
    height: 30px;
    border-radius: 20px;
    white-space: nowrap;
    text-align: left;
    padding-right: 10px;
}
.lcb-navigation a, .lcb-navigation a span {
    -webkit-transition: width;
    -o-transition: width;
    transition: width;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}
.lcb-navigation a, .lcb-navigation a i {
    vertical-align: top;
    display: inline-block;
}

.lcb-navigation a i {
    width: 30px;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
}
.lcb-navigation a, .lcb-navigation a i {
    vertical-align: top;
    display: inline-block;
}

.lcb-navigation a span {
    width: auto;
    overflow: hidden;
    display: inline-block;
    line-height: 29px;
    margin-left: -3px;
}
.lcb-navigation a, .lcb-navigation a span {
    -webkit-transition: width;
    -o-transition: width;
    transition: width;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
}

option {
    color: #000000;
}

span{
  line-height: 35px;
}

.datepicker {
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: #000;
}

.datepicker th{
  color: #000000;
}