// Place all the styles related to the station controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require animate
//= require font-awesome
//= require helper
//= require pe-icon-7-stroke
//= require bootstrap
//= require style
//= require stroke-icons/style
//= require bootstrap-datetimepicker
.datepicker {
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: #000;
}

.datepicker th{
  color: #000000;
}

.contact-box.center-version {
    border: 0px solid #e7eaec;
    padding: 0;
}

.contact-box {
    background-color: #21242a;
    border: 0px solid #e7eaec;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}