// Place all the styles related to the station controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require animate
//= require font-awesome
//= require helper
//= require pe-icon-7-stroke
//= require bootstrap
//= require bootstrap-datetimepicker
//= require material-design-iconic-font

// FontFace
@import 'https://fonts.googleapis.com/css?family=Roboto';

// Body CSS
html:not(.ie9) body {
    overflow-y: scroll;
}
body, html {
    min-height: 100vh;
}

body {
    position: relative;
}

.close, body {
    font-weight: 400;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: rgba(255,255,255,.7);
    background-color: #222c32;
}

body, figure {
    margin: 0;
}


// Header Code
#header {
    background-color: #1E262B;
    min-height: 70px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    user-select: none;
    position: fixed;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 20px;
}
#header, .toggle-switch {
    -webkit-user-select: none;
    -khtml-user-select: none;
}
#header, .waves-effect {
    -moz-user-select: none;
    -ms-user-select: none;
}
#header, .btn, .toggle-switch {
    -webkit-touch-callout: none;
}

.h-inner {
    list-style: none;
    padding: 17px 0;
    margin-bottom: 0;
}

#main, .h-inner, .hi-trigger, body {
    position: relative;
}
ol, ul {
    margin-bottom: 9px;
}
dl, ol, ul {
    margin-top: 0;
}

.h-inner>li:not(.pull-right) {
    float: left;
}
.hi-trigger {
    cursor: pointer;
    margin-left: -5px;
    display: none;
}
#main, .h-inner, .hi-trigger, body {
    position: relative;
}

.h-inner>li:not(.pull-right) {
    float: left;
}

#header .hi-logo a {
    padding: 5px 10px;
    text-transform: uppercase;
}
.hi-logo a {
    color: #D8DADA;
    display: block;
    font-size: 20px;
}

.hi-menu {
    list-style: none;
}

.hi-menu, .hi-menu>li .dropdown-menu-lg {
    padding: 0;
}

.hi-menu>li {
    display: inline-block;
    margin: 0 1px;
    vertical-align: top;
    min-width: 50px;
}

.hi-menu>li>a {
    color: #D8DADA;
    display: block;
    text-align: center;
    z-index: 1;
    position: relative;
}

.hi-menu>li>a>.him-icon {
    font-size: 24px;
    line-height: 36px;
}

.hi-menu>li>a>.him-label {
    line-height: 35px;
    white-space: nowrap;
    padding: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.hi-menu>li:hover{
    background-color: #2b343a;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.h-search-wrap {
    top: -65px;
    left: 0;
    width: 100%;
    height: 70px;
    background: #1E262B;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 10;
}
#header .ma-backdrop, .h-search-wrap {
    position: absolute;
}

.h-search-wrap .hsw-close {
    position: absolute;
    top: 15px;
    font-size: 23px;
    font-style: normal;
    width: 45px;
    text-align: center;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    left: 15px;
    height: 40px;
    padding-top: 9px;
    color: #1E262B;
}

.h-search-wrap input[type=text] {
    border: 0;
    height: 40px;
    padding: 0 10px 0 55px;
    font-size: 18px;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
    color: #2b343a;
}

#header.search-toggled .h-search-wrap {
    top: 0;
    opacity: 1;
}

.hsw-inner {
    position: relative;
    padding: 15px;
    max-width: 700px;
    display: block;
    margin: 0 auto;
}

.h-search-wrap .hsw-close:hover {
    background-color: #eee;
}

//Section code
#main {
    padding-bottom: 110px;
    padding-top: 100px;
    min-height: 100vh;
}
#main {
    position: relative;
}
section{
    display: block;
}

#sidebar {
    width: 268px;
}

.main-menu {
    list-style: none;
    padding-left: 0;
}

.media-heading, .media:first-child, .panel-title {
    margin-top: 0;
}
.main-menu>li>a {
    display: block;
    position: relative;
    color: rgba(255,255,255,.65);
}

.submenu>a {
    position: relative;
}
.submenu a {
    color: rgba(255,255,255,.4);
}
.mm-profile>a {
    display: block;
    padding: 20px;
    color: #fff;
}
.main-menu a {
    -webkit-transition: color;
    -o-transition: color;
    transition: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.media {
    overflow: visible;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
.media {
    margin-top: 15px;
}

.main-menu>li.active>a, .main-menu>li>a:hover {
    background-color: rgba(255,255,255,.04);
}
.main-menu .active>a, .main-menu a.active, .main-menu a:hover {
    color: #fff;
}

.mm-profile>a>img {
    width: 30px;
    height: 30px;
    padding-right: 0!important;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255,255,255,.13);
    margin-top: 3px;
    float: left;
}

.mm-profile .media-body {
    padding: 2px 10px 0 15px;
}

.media-body {
    zoom: 1;
    display: block;
    width: auto;
}

.mm-profile .media-body small {
    display: block;
    color: rgba(255,255,255,.35);
}

.small, small {
    font-size: 92%;
}

.submenu-plus, .submenu-minus {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    font-size: 17px;
    right: 15px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
}

li:not(.toggled) > a:hover > .submenu-plus, .toggled > a:hover > .submenu-minus {
  opacity: 1;
}

.submenu > ul{
  list-style: none;
  padding: 0;
  -webkit-transition: ease-in-out, max-height 0.5s ease-in-out;
  transition: ease-in-out, max-height 0.5s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}

.toggled > ul{
  max-height: 400px;
}

.submenu ul > li:first-child > a {
  padding-top: 14px;
}

.submenu ul > li > a {
  padding: 8px 20px 8px 65px;
  display: block;
  cursor: pointer;
}

.main-menu>li:not(.mm-profile)>a {
    padding: 14px 20px 14px 65px;
}

.main-menu>li>a>i {
    position: absolute;
    left: 25px;
    font-size: 20px;
    top: 0;
    width: 25px;
    text-align: center;
    padding: 13px 0;
}

a{
    cursor: pointer;
}

.line-wrap {
    width: 18px;
    height: 12px;
    margin: 12px 17px;
    cursor: pointer;
}

.line-wrap .line {
    width: 18px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.line-wrap .line.center {
    margin: 3px 0;
}

//Content

.block-header {
    margin-bottom: 25px;
    position: relative;
}

.block-header>h2 {
    font-size: 15px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

@media (min-width: 1280px){
  #content:not(.content-alt) {
    padding-left: 283px;
    padding-right: 15px;
  }
}

@media (max-width: 1279px){
  #sidebar.toggled {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  #sidebar {
    -webkit-transform: translate3d(-268px,0,0);
    transform: translate3d(-268px,0,0);
    box-shadow: 0 0 30px #0E1215;
  }
  
  #header .hi-trigger {
    display: inline-block;
  }
  .h-inner>li:not(.pull-right) {
    float: left;
  }
  .hi-trigger {
    cursor: pointer;
    margin-left: -5px;
    display: none;
  }
}

.container.container-alt {
    max-width: 1170px;
}

.f-400 {
    font-weight: 400!important;
}
.h2, h2 {
    font-size: 27px;
}

.c-gray {
    color: #9E9E9E!important;
}
.m-b-20 {
    margin-bottom: 20px!important;
}
.m-t-20 {
    margin-top: 20px!important;
}

.m-t-25 {
    margin-top: 25px!important;
}

.pt-inner .pti-header {
    padding: 45px 10px 70px;
    position: relative;
    margin-bottom: 15px;
}

.pt-inner .pti-header>h2 {
    margin: 0;
    line-height: 100%;
    font-weight: 100;
    font-size: 50px;
}

.pt-inner .pti-header>h2 small {
    letter-spacing: 0;
    vertical-align: top;
    font-size: 16px;
    font-weight: 100;
}

.pt-inner .pti-header .ptih-title {
    background-color: rgba(255,255,255,.04);
    padding: 8px 10px 9px;
    text-transform: uppercase;
    margin: 0 -10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.pt-inner .pti-body {
    padding: 0 23px;
}

.pt-inner .pti-body .ptib-item:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,.06);
}

.pt-inner .pti-body .ptib-item {
    padding: 15px 0;
    font-weight: 400;
}

.pt-inner .pti-footer {
    padding: 10px 20px 30px;
    margin-top: 20px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }   
}

@media screen and (min-width: 768px){
  .block-header {
    padding: 0 22px;
  }
}


.card {
    position: relative;
    background: #2b343a;
    margin-bottom: 30px;
}

.card, .mini-charts-item {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.card .card-header {
    position: relative;
    padding: 23px 25px;
}

.card .card-body.card-padding {
    padding: 25px 27px;
}

.c-item {
    border-radius: 2px;
    margin-bottom: 24px;
    background-color: rgba(255,255,255,.04);
}

.c-item .ci-avatar {
    display: block;
    margin: -1px -1px 0;
}

.c-item .ci-avatar img {
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.c-info {
    text-align: center;
    margin-top: 15px;
    padding: 0 5px;
}

.c-info small, .c-info strong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.c-info strong {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.c-info small {
    margin-top: 3px;
    color: rgba(255,255,255,.4);
}

.c-footer {
    margin-top: 18px;
}

.c-footer>button {
    padding: 7px 10px;
    display: block;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,.04);
    border: 0;
    border-radius: 0;
}

//Auto Complete Design

.auto-complete{
    position: absolute;
    top: 35px;
    max-height: 94px;
    width: calc(100% - 30px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    background-color: #1E262B;
    z-index: 10;
}

.auto-complete>div:first-child{
    margin-top: 10px;
}

.auto-complete>div:hover{
    background-color: #222c32;
    cursor: pointer;
}


.form-control:not(.fc-alt) {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}
.form-control {
    resize: none;
}

.form-control {
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.06);
    border-radius: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.00);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus{
    border-bottom: 2px solid rgba(255,255,255,1);
    box-shadow: none;
}

.form-control, output {
    font-size: 13px;
    line-height: 1.42857143;
    color: #D8DADA;
    display: block;
}

// Table

.table{
  margin-bottom: 0px;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table>tbody>tr>td:first-child, .table>tbody>tr>th:first-child, .table>tfoot>tr>td:first-child, .table>tfoot>tr>th:first-child, .table>thead>tr>td:first-child, .table>thead>tr>th:first-child {
    padding-left: 30px;
}
.table>thead>tr>th {
    background-color: rgba(255,255,255,.04);
    vertical-align: middle;
    font-weight: 500;
    border-width: 1px;
    text-transform: uppercase;
}
.table>thead>tr>th {
    border-bottom: 2px solid rgba(255,255,255,.02);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid rgba(255,255,255,.02);
}

.table-hover>tbody>tr:hover, .table-striped>tbody>tr:nth-of-type(odd), .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: rgba(255,255,255,.02);
    cursor: pointer
}

tbody>.toggled{
    background-color: rgba(255,255,255,.1) !important;
    cursor: pointer
}

.table-responsive{
    border: 0px solid #ddd !important;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 10px;
}

//modal
.modal .modal-content {
    box-shadow: 0 5px 20px rgba(0,0,0,.31);
    border: 0;
}

.modal-header, .modal-footer {
    background-color: #2b343a;
    border: 0px solid #000000;
}

.modal-header small{
    color: rgba(255,255,255,.4);   
}
.modal-body{
    background: #1E262B;
}

@media (min-width: 1200px){    
  .modal-sp-lg{
    width: 1200px;    
  }
}
//BTN
select option {
    background: #2b343a;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.btn[class*=bg-]:not(.bg-white) {
    color: #fff;
}

.btn {
    display: inline-block;
    margin: 0 5px 10px 0;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
}

.btn-default {
    color: #333;
    background-color: #D8DADA;
    border-color: #ccc;
}

.btn-xs {
    padding: 2px 5px;
    font-size: 13px;
    line-height: 1;
}

//Color list

.bg-red {
    background-color: #F44336!important;
}

.bg-pink {
    background-color: #E91E63!important;
}

.bg-purple {
    background-color: #9C27B0!important;
}

.bg-deep-purple {
    background-color: #673AB7!important;
}

.bg-indigo {
    background-color: #3F51B5!important;
}

.bg-blue {
    background-color: #2196F3!important;
}

.bg-light-blue {
    background-color: #03A9F4!important;
}

.bg-cyan {
    background-color: #00BCD4!important;
}

.bg-teal {
    background-color: #009688!important;
}

.bg-green {
    background-color: #4CAF50!important;
}

.bg-light-green {
    background-color: #4CAF50!important;
}

.bg-lime {
    background-color: #CDDC39!important;
}

.bg-yellow {
    background-color: #FFEB3B!important;
}

.bg-amber {
    background-color: #FFC107!important;
}

.bg-orange {
    background-color: #FF9800!important;
}

.bg-deep-orange {
    background-color: #FF5722!important;
}

.bg-brown {
    background-color: #795548!important;
}

.bg-gray {
    background-color: #9E9E9E!important;
}

.bg-blue-gray {
    background-color: #607D8B!important;
}

.bg-black {
    background-color: #000000!important;
}
//Page-Loader
.page-loader {
    background: #1E262B;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.page-loader .preloader {
    width: 60px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -55px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.page-loader .preloader p {
    white-space: nowrap;
    position: relative;
    left: -10px;
    top: 15px;
    color: rgba(255,255,255,.3);
}

.preloader {
    position: relative;
    margin: 0 auto;
    display: inline-block;
}

.preloader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.preloader.pls-white .plc-path {
    stroke: #fff;
}

.preloader[class*=pls-] .plc-path {
    animation: dash 1.5s ease-in-out infinite;
}

.preloader:not([class*=pls-]) .plc-path {
    animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
}

.plc-path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none;
}

.pl-circular {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}

svg:not(:root) {
    overflow: hidden;
}



// KeyFrame List
@keyframes dash{
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124px;
    }
}

@keyframes rotate{
    100% {
        transform: rotate(360deg);
    }
}

@keyframes color{
    0%, 100% {
        stroke: #F44336;
    }
    40% {
        stroke: #2196F3;
    }

    66% {
        stroke: #4CAF50;
    }
    80%, 90% {
        stroke: #FFC107;
    }
}

#chat.toggled {
    right: 0;
}

#chat {
    padding: 20px 0 5px;
    width: 280px;
    right: -300px;
    box-shadow: 0 0 30px #0E1215;
}

#chat .chat-search {
    padding: 20px 20px 15px;
}

.fg-line:not(.form-group) {
    display: inline-block;
    width: 100%;
}
.fg-line {
    position: relative;
    vertical-align: top;
}

#chat .chat-search .form-control, #chat .chat-search .zmdi-search {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
#chat .chat-search .form-control {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    background-color: transparent;
}

#chat .chat-search .fa-search {
    position: absolute;
    left: 0;
    bottom: 6px;
    font-size: 20px;
    color: rgba(255,255,255,.3);
}
#chat .chat-search .form-control, #chat .chat-search .fa-search {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

#chat .chat-search .form-control:focus {
    padding: 0 30px 0 0;
}

#chat .chat-search .form-control:focus+.fa-search {
    left: calc(100% - 15px);
}

.sidebar {
    position: fixed;
    background: #2b343a;
    height: calc(100% - 65px);
    top: 70px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    z-index: 10;
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.background1{
  padding-top: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(255,255,255,.04);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 2px;
}
::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  background-color: rgba(255,255,255,0.4);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,0.6);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(255,255,255,0.8);
}

::-webkit-scrollbar-track {
  background-color: #000;
  background-color: rgba(0,0,0,0.1);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.pmo-stat {
  background: #D8DADA;
  color: #2b343a!important;
  border-radius: 0 0 2px 2px;
  text-align: center;
  padding: 5px 5px;
  padding-bottom: 10px;
}

.pmo-block {
  padding: 25px;
}

.pmo-block>h2 {
  font-size: 16px;
  margin: 0 0 15px;
}

.pmo-contact ul li i {
  font-size: 18px;
  vertical-align: top;
  line-height: 100%;
  position: absolute;
  left: 0;
  width: 18px;
  text-align: center;
}

.pmo-contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pmo-contact ul li {
  position: relative;
  padding: 8px 0 8px 35px;
}

.pmo-pic .pmo-stat h2 {
  color: #2b343a!important;
  margin-top: 5px;
  text-transform: capitalize;
}

.pmo-pic {
  position: relative;
  margin: 20px;
}
.p-relative {
  position: relative!important;
}

.pmo-pic:hover .pmop-edit {
  opacity: 1;
  filter: alpha(opacity=100);
}

a:hover{
  text-decoration: none;
}

.pmop-edit {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff!important;
  background: rgba(0,0,0,.38);
  text-align: center;
  padding: 10px 10px 11px;
}

.pmop-edit:hover {
  background: rgba(0,0,0,.8);
}

.datepicker {
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: #000;
}

.datepicker th{
  color: #000000;
}

.contact-box.center-version {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 0;
}

.contact-box {
    background-color: #21242a;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.contact-box.center-version > .over {
    display: block;
    background-color: #21242a;
    padding: 20px;
    text-align: center;
}

.contact-box > .over {
    color: inherit;
}

.contact-box.center-version > .over img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.over > h3{
    margin-top: 5px;
    font-weight: 600;
}

.over > h3 {
    font-size: 16px;
}

.contact-box.center-version address {
    margin-bottom: 0;
}

.contact-box .contact-box-footer {
    background-color: #1d1f24;
    text-align: center;
    border-top: 1px solid #3d404c;
    padding: 15px 20px;
}