%section#doc
  #doc-tab-wrapper
    .container
      #doc-title
        %h1
          %a{:href => "/documentation"}
            Danh mục tài liệu
      #doc-navbar-wrapper
        %ul#doc-navbar.nav.navbar-nav.clearfix
          %li
            .nav-item-wrapper
              %a.nav-item{:href => "#"}
                API Code
          %li
            .nav-item-wrapper
              %a.nav-item{:href => "#"}
                Hướng dẫn
          %li
            .nav-item-wrapper
              %a.nav-item{:href => "#"}
                Câu hỏi thường gặp
          %li
            .nav-item-wrapper
              %a.nav-item{:href => "#"}
                Tin tức
